.splunk header {
  background: black;
  background-image: url(../img/header_background.png);
}
.splunk .navbar-inner {
  background: transparent;
}
.splunk .main-navbar .navbar-inner {
  background: transparent;
  min-height: 43px;
}
.splunk .navbar .brand {
  background: url(../img/appLogo.png) no-repeat 0 0;
  padding: 0px;
  padding-right: 5px;
  height: 43px;
  width: 80px;
  margin-left: -10px;
  float: left;
}
.splunk .main-navbar h1 {
  color: #73a550;
  line-height: 43px;
  font-size: 18px;
  font-weight: normal;
  float: left;
}

.splunk .navbar .main-nav,
.splunk .navbar .aux-nav {
  margin-top: 3px !important;
  margin-right: -15px !important;
}
.splunk .navbar .main-nav > li,
.splunk .navbar .aux-nav > li {
  font-size: 11px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  height: 22px;
}
.splunk .navbar .main-nav > li a,
.splunk .navbar .aux-nav > li a {
  line-height: 22px;
  padding: 0px;
  padding-right: 5px;
  color: #CCC;
  position: relative;
}
.splunk .navbar .main-nav > li.nav-fullname {
  font-weight: bold;
  color: #CCC;
}
.splunk .navbar .main-nav > li.divider,
.splunk .navbar .aux-nav > li.divider {
  padding: 0px;
  margin: 0 6px 0 1px;
  color: #666;
}
.splunk .navbar .main-nav > li a.dropdown-toggle {
  padding-right: 15px;
}
.splunk .navbar .main-nav > li .dropdown-caret {
  width: 5px;
  height: 5px;
  background-color: transparent;
  background-image: url(../img/splIcons.gif);
  background-position: -47px -367px;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 10px;
  right: 5px;
}
.splunk .navbar .main-nav .dropdown-menu {
  z-index: 9999;
  background: black;
  min-width: 160px;
  border-color: #333;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  left: auto;
  right: auto;
}
.splunk .navbar .main-nav .dropdown-menu::after {
  border: 0px;
}
.splunk .navbar .main-nav .dropdown-menu li {
  background: black;
}
.splunk .navbar .main-nav .dropdown-menu li a {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 12px;
}
.splunk .navbar .main-nav .dropdown-menu li a:hover {
  background: #7b9059;
  color: #fff;
}
.splunk .navbar .main-nav .dropdown-menu li.divider {
  padding: 0px;
  margin: 0px;
  border-color: #CCC;
  height: 0px;
}
body.splunk {
  background: #F5F5F5;
}
