{% extends "appfx:base_with_account_bar.html" %}

{% load url from future %}
{% load tags %}

{% block _css %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}appfx/css/app-nav.css" />
{% endblock _css %}

{% block app_nav %}
    {% get_current_app as current_app %}
    {% get_app_nav current_app as app_nav %}
    
    <div class="navbar navbar-fixed-top app-navbar">
        <div class="navbar-inner">
            <div class="container-fluid">                
                <ul class="nav app-nav">
                {% for nav_item in app_nav %}
                    {% if nav_item.children %}
                    <li class="dropdown">
                        <a href="{{nav_item.link}}" class="dropdown-toggle" data-toggle="dropdown">
                            {{nav_item.name}}
                            <span class="dropdown-caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        {% for child_nav_item in nav_item.children %}
                            {% if child_nav_item.divider %}
                            <li class="divider"></li>
                            {% else %}
                            <li>
                                <a href="{{child_nav_item.link}}">{{child_nav_item.name}}</a>
                                {% if child_nav_item.children %}
                                <span class="dropdown-caret"></span>
                                <ul class="dropdown-menu">
                                {% for sub_nav_item in child_nav_item.children %}
                                  <li><a href="{{sub_nav_item.link}}">{{sub_nav_item.name}}</a></li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav">
                        <a href="{{nav_item.link}}">{{nav_item.name}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
                <ul class="nav pull-right aux-nav">
                    <li><a class="help" href="#">Help</a></li>
                    <li class="divider">|</li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock app_nav %}