{% extends "appfx:base_with_basic_styles.html" %}

{% block _css %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunk/css/footer.css" />
{% endblock _css %}

{% block footer %}
    <footer>
        <div class="divider"></div>
        <p class="pull-right">Copyright 2005-2012 Splunk Inc. All rights reserved.</p>
        <div class="pull-left">
            <a href="http://www.splunk.com">About</a>  
            <a href="http://www.splunk.com/r/support">Support</a>       
            <a href="http://www.splunk.com/r/bugs">File a bug</a>       
            <a href="http://www.splunk.com/r/docs">Documentation</a>        
            <a href="http://www.splunk.com/r/privacy">Privacy policy</a> 
        </div>
    </footer>
{% endblock footer %}