{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Caching</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                    <p>One feature of search managers is the ability to use pre-existing
                    search jobs when they exist. This feature is beneficial to
                    developers, who can have a way to load pages faster, without 
                    having to create saved searches.
                    
                    You can use caching by specifying the <code>cache</code> 
                    property on search managers (the default is <code>false</code>).
                    This property takes one of these values:</p>
                    
                    <div class="well">
                        <ul>
                            <li><code>true</code>: Always use any existing search job.</li>
                            <li><code>false</code>: Always create a new job.</li>
                            <li><code>n</code>: Use an existing search job if it 
                                is newer than <code>n</code> seconds, where <i>n</i> &gt; 0.</li>
                        </ul>
                    </div>
                    
                    <p>The search job must be an exact match&mdash;all of its parameters
                    must be equal to what the manager would have created.
                    
                    Below, you can see three tables, one with each value. After
                    the initial page loads, refresh the page and notice how much
                    more quickly the cached values load.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 33%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Never Cache</h3>
                    </div>
                    <div class="panel-body">
                        {% resulttable id="table1" managerid="nocache" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 33%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Always Cache</h3>
                    </div>
                    <div class="panel-body">
                        {% resulttable id="table2" managerid="cache" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 33%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Cache for 60 seconds</h3>
                    </div>
                    <div class="panel-body">
                        {% resulttable id="table3" managerid="cache60" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block managers %}
    {% searchmanager id="nocache" search="index=_internal | head 1000 | stats count by sourcetype" cache=False %}
    {% searchmanager id="cache" search="index=_internal | head 1000 | stats count by sourcetype" cache=True %}
    {% searchmanager id="cache60" search="index=_internal | head 1000 | stats count by sourcetype" cache=60 %}
{% endblock managers %}