{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Cascading Forms</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                    <p>
                    In this case, we have two form <code>select</code> views, and the choice of
                    one cascades into the other. When you select an index, we run 
                    a search to find which sourcetypes are available
                    on that index. Finally, when you click the <b>Search</b> button, we
                    use both selections to run the final search.
                    </p>
                    
                    <p>
                    Note how we are using the same approach as when we had form
                    inputs feeding into searches directly: there is no difference
                    between a search that populates a form and a search that
                    populates a view.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Input</h3>
                    </div>
                    <div class="panel-body">
                        <p>Which index should we find sourcetypes for?</p>
                        {% select id="indexes" managerid="indexsearch" default="*" valueField="index" %}
                        <p>Which sourcetype should we use?</p>
                        {% select id="sourcetypes" managerid="sourcetypesearch" valueField="sourcetype" %}
                        <button id="searchbutton" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                        {% single id="singlevalue" managerid="simplesearch1" beforeLabel="Event Count: " %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block managers %}        
    {% searchmanager id="indexsearch" search="| eventcount summarize=false index=* OR index=_*" cache=True preview=False %}
    
    {% searchmanager id="sourcetypesearch" search="| metadata index=$index$ OR index=_$index$ type=sourcetypes" cache=True preview=True autostart=False %}
    
    {% searchmanager id="simplesearch1" search="index=$index$ sourcetype=$sourcetype$ earliest=-5m | stats count" 
        preview=True cache=60 status_buckets=300 autostart=False %}
{% endblock managers %}

{% block js %}
<script>
    require(["splunkjs/ready!"], function(mvc) {
        // Fetch a reference to the views and managers
        var indexes = mvc.Components.getInstance("indexes");
        var sourcetypes = mvc.Components.getInstance("sourcetypes");
        var simpleSearch1 = mvc.Components.getInstance("simplesearch1");
        var sourcetypeSearch = mvc.Components.getInstance("sourcetypesearch");
        
        // Add "all" choices to
        indexes.settings.set("choices", [
            {value: "*", label: "(all)"}    
        ]);
        sourcetypes.settings.set("choices", [
            {value: "*", label: "(all)"}    
        ]);
        
        // Set up a handler for when the selection changes
        indexes.on("change", function() {
            if (!indexes.val()) {
                return;   
            }
            
            // Set the tokens for both managers
            sourcetypeSearch.query.set("index", indexes.val());
            
            // Start the searches
            sourcetypeSearch.startSearch();
        });
        
        $("#searchbutton").on("click", function() {
            simpleSearch1.query.set({
                index: indexes.val(),
                sourcetype: sourcetypes.val()
            });
            
            simpleSearch1.startSearch();
        });
    });
</script>

{% endblock js %}