{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Chart Clicks</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                        <p>
                        Many pages display information using charts, whether
                        they are pie charts, bar charts, or other types. These
                        charts can be very useful for displaying summary information,
                        and we want to allow users to drill down and
                        get more fine-grained detail.
                        </p>
                        
                        <p>
                        This example shows how one can allow in-page detail
                        drilldown on a chart. When we click on one wedge of the
                        pie chart, we see the single-value view on its right get
                        populated with this information. In this case
                        we are simply powering another search, but any action
                        can be taken inside the click handler for the chart.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Table</h3>
                    </div>
                    <div class="panel-body">
                        {% chart id="sourcetype-chart" managerid="simplesearch1" type="pie" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Event Count</h3>
                    </div>
                    <div class="panel-body">
                        {% single id="detail-single" managerid="detailsearch" field="totalCount" afterLabel="events"%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block managers %}
    {% searchmanager id="simplesearch1" search="| metadata type=sourcetypes index=_internal | rename totalCount as count | table sourcetype count" 
        preview=True cache=True autostart=True %}
        
    {% searchmanager id="detailsearch" search="| metadata type=sourcetypes index=_internal | search sourcetype=$sourcetype$"
        preview=True cache=True autostart=False %}
{% endblock managers %}

{% block js %}
<script>
    require(["splunkjs/ready!"], function(mvc) {
        var _ = require('underscore');
        
        var chart = mvc.Components.getInstance("sourcetype-chart");
        var single = mvc.Components.getInstance("detail-single");
        var detailSearch = mvc.Components.getInstance("detailsearch");
        
        chart.on("clicked:chart", function(e) {
            single.settings.set("beforeLabel", e.value + ":");
            detailSearch.query.set("sourcetype", e.value);
            detailSearch.startSearch();
        });
    });
</script>

{% endblock js %}