{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Custom Views and Interactivity</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                        <p>
                        Building on our example where we showed table-row expansion,
                        in this example we take that same code
                        and put it into a custom, reusable view.
                        </p>
                        
                        <p>
                        This view is called <b>ExpandoTableView</b>, and you'll find it 
                        <a href="{{STATIC_URL}}examplesfx/expandotable.js">here</a>.    
                        </p>
                        
                        <p>
                        This is actually a relatively complex view because it has an
                        inner view that does most of the rendering. But, this view also needs
                        to handle events on that inner view (the table) and on 
                        its own search manager.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Table</h3>
                    </div>
                    <div class="panel-body">
                        <div class="splunk-view" id="custom-table"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block managers %}
    {% searchmanager id="simplesearch1" search="| metadata type=sourcetypes index=_internal | rename totalCount as count | table sourcetype count" 
        preview=False cache=True autostart=True %}
        
    {% searchmanager id="simplesearch2" search="| metadata type=sourcetypes index=_internal | search sourcetype=$sourcetype$"
        preview=False cache=True autostart=False %}
{% endblock managers %}

{% block js %}
<script>
    var deps = [
        "splunkjs/ready!",
        "splunkjs/mvc/tableview",
        "examplesfx/expandotable"
    ];
    require(deps, function() {
        var ResultTableView = require("splunkjs/mvc/tableview");
        var ExpandoTableView = require("examplesfx/expandotable");
        
        var innerTable = new ResultTableView({
            id: "table1",
            managerid: "simplesearch1"
        }).render();
        var customTable = new ExpandoTableView({
            id: "custom-table",
            table: "table1",
            managerid: "simplesearch2",
            valueField: "sourcetype",
            targetToken: "sourcetype",
            el: $("#custom-table"),
            template: "\
<div><h4>Earliest Time:</h4> <%=firstTime%></div> \
<div><h4>Latest Time:</h4> <%=lastTime%></div> \
<div><h4>Total Count:</h4> <%=totalCount%></div> \
"
        }).render();
    });
</script>

{% endblock js %}
