{% extends "appfx:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/dashboard.css" />

    <style>    
    </style>
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>Dashboards with Django template tags</h4>
                </div>
                <div class="panel-body">
                    This example shows how to create a simple dashboard using our simple
                    Django template tags for creating controls and contexts. In this case,
                    we are powering the dashboard using two searches, and three of the
                    charts are powered by the same search.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="panel">
                <div class="panel-head">
                    <h4>Chart 1</h4>
                </div>
                <div class="panel-body">
                    {% chart id="chart1" contextid="simplesearch1" type="pie" %}
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="panel">
                <div class="panel-head">
                    <h4>Chart 2</h4>
                </div>
                <div class="panel-body">
                    {% chart id="chart2" contextid="simplesearch1" type="bar" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-body">
                    {% timeline id="timeline1" contextid="simplesearch1" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>My Table</h4>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        {% paginator id="table-paginator" %}
                    </div>
                    {% resulttable id="table1" contextid="simplesearch2" paginator="table-paginator" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block contexts %}
    {% search id="simplesearch1" search="search index=_internal | head 1000 | stats count by sourcetype" 
        preview=True cache=60 status_buckets=300 %}
        
    {% search id="simplesearch2" search="search index=_internal | head 1000 | stats count by source" 
        preview=True cache=60 status_buckets=300 %}
{% endblock contexts %}