{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Drilldown</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                        <p>Drilldown is one of the most common operations for Splunk apps.
                        In this example, notice that when you click on the table, we navigate you
                        to another page. That page has two searches that are
                        parameterized for <code>sourcetype</code> and <code>source</code>,
                        whose values we get from the table row you clicked.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>My Table</h3>
                    </div>
                    <div class="panel-body">
                        {% resulttable id="table1" managerid="simplesearch1" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block managers %}
    {% searchmanager id="simplesearch1" search="index=_internal | head 1000 | stats count by sourcetype, source" 
        preview=True cache=60 status_buckets=300 %}
{% endblock managers %}

{% block js %}
<script>
    require(["splunkjs/ready!"], function(mvc) {
        var table = mvc.Components.getInstance("table1");
        
        table.on("clicked:row", function(e) {
            // Get the drilldown values
            var sourcetype = e.model.get("sourcetype");
            var source = e.model.get("source");
            
            // We use reverse to be able to refer to our target without hard-coding
            // a URL. This is equivalent to Django's `reverse` function.
            var target = mvc.reverse("examplesfx:tmpl_render", {tmpl: "drilldown_target"});
            var drilldown = {
                // We set various query and search properties on two target managers: 'search1'
                // and 'search2'. We use the values from the row we clicked on.
                "search1": {
                    query: {
                        sourcetype: sourcetype
                    },
                    search: {
                        earliest_time: "-1h"
                    }
                },
                "search2": {
                    query: {
                        source: source
                    }
                }
            };
            
            // Now we can use the drilldown helper, passing in our target URL,
            // and our drilldown options.
            mvc.drilldown(target, drilldown);
        });
    });
</script>
{% endblock js %}