{% extends "appfx:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/dashboard.css" />

    <style>    
    </style>
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>Drilldown - the target page</h4>
                </div>
                <div class="panel-body">
                    This page is the target of the drilldown example. When you
                    clicked on the table, we navigated here. You can see in the
                    code how we use the <code>splunkjs.mvc.loadDrilldown</code> helper
                    to load the drilldown parameters, and then we start the searches.
                    At this point, everything is operating as it normally would,
                    and you can interact with the components as you would normally.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="panel">
                <div class="panel-head">
                    <h4>Chart 1</h4>
                </div>
                <div class="panel-body">
                    {% chart id="chart1" contextid="search1" type="line" %}
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="panel">
                <div class="panel-head">
                    <h4>Chart 2</h4>
                </div>
                <div class="panel-body">
                    {% chart id="chart2" contextid="search2" type="line" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>My Table</h4>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        {% paginator id="table-paginator" %}
                    </div>
                    {% resulttable id="table1" contextid="search1" paginator="table-paginator" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block contexts %}
    {% search id="search1" search="search index=_internal sourcetype=$sourcetype$ | timechart count" 
        preview=True cache=60 status_buckets=300 autostart=False %}
        
    {% search id="search2" search="search index=_internal source=$source$ | head 1000 | timechart count" 
        preview=True cache=60 status_buckets=300 autostart=False %}
{% endblock contexts %}

{% block js %}
<script>
    splunkjs.mvc.on("start", function() {
        // Since we know this page is the target of a drilldown, we can just use the
        // drilldown helper to load the information that is encoded in the URL.
        splunkjs.mvc.loadDrilldown(); 
        
        var search1 = splunkjs.mvc.Components.getInstance("search1");
        var search2 = splunkjs.mvc.Components.getInstance("search2");
        
        // Since we told the contexts to not autostart, after the drilldown,
        // we need to start them.
        search1.startSearch();
        search2.startSearch();
    });
</script>
{% endblock js %}
