{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Examples</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                        <p>
                        This app has multiple examples. Each one
                        illustrates one task that is possible in the Splunk Application
                        Framework. You can see how the examples behave, and then
                        look at the underlying code for each example.
                        </p>
                        
                        <p>
                        You'll find the code at <code>$SPLUNKDJ_HOME/server/apps/examples/templates</code>.
                        </p>
                        <p>To try the examples, choose options from the menus at the top of this page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block js %}  
{% endblock js %}