{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>View Interactivity</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                        <p>
                        Much like form views, other views also support 
                        interactivity. When a row is clicked, for example, an
                        event is generated that we can listen for.
                        </p>
                        
                        <p>
                        In this example, when a table row is clicked, we update
                        the second search on the page, which updates
                        the single value view.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Table</h3>
                    </div>
                    <div class="panel-body">
                        {% resulttable id="table" managerid="simplesearch1" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Value for clicked on sourcetype</h3>
                    </div>
                    <div class="panel-body">
                        {% single id="single1" managerid="simplesearch2" beforeLabel="Event Count: " %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block managers %}
    {% searchmanager id="simplesearch1" search="| eventcount summarize=false index=* OR index=_* | table index count" 
        preview=True cache=True autostart=True %}
        
    {% searchmanager id="simplesearch2" search="| eventcount summarize=false index=$index$ | table count" 
        preview=True cache=True autostart=False %}
{% endblock managers %}

{% block js %}
<script>
    require(["splunkjs/ready!"], function(mvc) {
        var table = mvc.Components.getInstance("table");
        var simpleSearch2 = mvc.Components.getInstance("simplesearch2");
        
        // Set the index whenever the table is clicked
        table.on("clicked:row", function(e) {
            var index = e.model.get("index");
            
            simpleSearch2.query.set("index", index);
            simpleSearch2.startSearch();
        });
    });
</script>

{% endblock js %}