{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}}Maps{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
    <style>
        .map-container {
            height: 300px;
        }
    </style>
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Maps</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body ">
                        <p>
                        This example shows a map view. This view can plot clustered data that have fields for <code>lat</code> and <code>lng</code>.
                        </p>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Map of Earthquakes Clustered by Count</h3>
                    </div>
                    <div class="panel-body map-container">
                        {% googlemap id="example-map" managerid="map-search" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Values</h3>
                    </div>
                        
                    <div class="panel-body ">
                        <p>Table of clusters produced by <b>geostats.</b></p>

                        {% resulttable id="example-table" managerid="geosearch" pageSize="6" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block managers %}
    {% searchmanager id="geosearch" search="| inputlookup earthquakes.csv | rename Lat as lat Lon as lng | stats count by lat, lng" preview=True cache=True %}

    {% searchmanager id="map-search" search="| inputlookup earthquakes.csv | rename Lat as lat Lon as lng | stats count by lat, lng" preview=True cache=True %}
{% endblock managers %}

{% block js %}
<script>
    require(["splunkjs/ready!"], function(mvc) {
        var map = mvc.Components.getInstance("example-map");
        var table = mvc.Components.getInstance("example-table");
        var mapSearch = mvc.Components.getInstance("map-search");

        table.settings.set('fields', ['lat', 'lng', 'count']);

        table.on("clicked:row", function(e) {
            var lat = e.model.get("latitude");
            
        });

        map.on("clicked:marker", function(e){});
    });
</script>

{% endblock js %}