{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} - Post Process{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Post Process</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                    <p>This example shows how to create a single search, then how to generate
                        multiple views on the search using post-processing. 
                        We can create post-process managers using Django template tags and 
                        directly in JavaScript.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Chart 1</h3>
                    </div>
                    <div class="panel-body">
                        {% chart id="chart1" managerid="post1" type="pie" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Chart 2</h3>
                    </div>
                    <div class="panel-body">
                        {% chart id="chart2" managerid="post2" type="bar" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Post Process Table</h3>
                    </div>
                    <div class="panel-body">
                        {% resulttable id="table1" managerid="post3" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Main Search Table</h3>
                    </div>
                    <div class="panel-body">
                        {% resulttable id="table2" managerid="main-search" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block managers %}
    {% searchmanager id="main-search" 
        search="index=_internal sourcetype=splunkd_access OR sourcetype=splunkd OR sourcetype=splunk_web_access OR sourcetype=splunk_web_service | head 10000 | stats count by sourcetype" 
        preview=True cache=True %}
        
    {% postprocessmanager id="post1" manager="main-search" postProcess="search sourcetype=splunkd_access OR sourcetype=splunkd" %}
    {% postprocessmanager id="post2" manager="main-search" postProcess="search sourcetype=splunk_web_access OR sourcetype=splunk_web_service" %}
{% endblock managers %}

{% block js %}
<script>
require(["splunkjs/ready!", "splunkjs/mvc/postprocess"], function(mvc) {
    var PostProcessManager = require("splunkjs/mvc/postprocess");
    
    new PostProcessManager({
        id: "post3",
        manager: "main-search",
        postProcess: "search sourcetype=splunk_web_access OR sourcetype=splunkd" 
    });
});
</script>
{% endblock js %}