{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Search Properties</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                        <p>
                        Just as we control search tokens and the search query, we are
                        able to control the search properties, such as time, required
                        fields, status buckets, etc.
                        </p>
                        
                        <p>
                        In this example, we provide a choice of whether to
                        enable the timeline for the underlying search (which is equivalent
                        to setting <code>status_buckets</code> to 0 or a positive number).
                        When a choice is made, we update the search, which then runs again.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                        <p>Enable timeline for the search?</p>
                        {% radiogroup id="timeline-radio" default="yes" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                        {% timeline id="timeline1" managerid="simplesearch1" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block managers %}
    {% searchmanager id="simplesearch1" search="index=_internal earliest=-10m" 
        preview=True cache=60 status_buckets=300 autostart=True %}
{% endblock managers %}

{% block js %}
<script>
    require(["splunkjs/ready!"], function(mvc) {
        // Fetch a reference to the view and manager
        var radio = mvc.Components.getInstance("timeline-radio");
        var simpleSearch1 = mvc.Components.getInstance("simplesearch1");
        
        // Add our static choices
        radio.settings.set("choices", [
            {value: "yes", label: "Yes"},    
            {value: "no", label: "No"},
        ]);
        
        // Set up a handler for when the selection changes
        radio.on("change", function() {            
            // Set status buckets for the search
            simpleSearch1.search.set("status_buckets", radio.val() === "yes" ? 300 : 0);
            
            // Start the search
            simpleSearch1.startSearch();
        });
    });
</script>

{% endblock js %}