{% extends "appfx:base_with_app_bar.html" %}

{% load splunkmvc %}
{% load url from future %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/dashboard.css" />

    <style>    
    </style>
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>SimpleXML + Components Hybrid</h4>
                </div>
                <div class="panel-body">
                    <p>
                    There is no reason to limit yourself to either using the
                    components of the Application Framework or SimpleXML. You can
                    use both on the same page.
                    </p>
                    
                    <p>
                    In this example, we're showing the same form from our SimpleXML
                    Form example, but we also have some custom components.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    {% url "render_simplexml" app="examplesfx" path="form" as url1 %}
    {% simplexml id="simplexml1" contextid="" app="examplesfx" url=url1 %}
    
    <div class="row">
        <div class="span6">
            <div class="panel">
                <div class="panel-body">
                    <div class="pull-right">
                        {% paginator id="table-paginator" %}
                    </div>
                    {% resulttable id="table1" contextid="simplesearch1" paginator="table-paginator" %}
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="panel">
                <div class="panel-head">
                    <h4>Custom Chart</h4>
                </div>
                <div class="panel-body">
                    {% chart id="chart1" contextid="simplesearch1" type="pie" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block contexts %}
    {% search id="simplesearch1" search="search index=_internal | head 1000 | stats count by source" 
        preview=True cache=60 status_buckets=300 %}
{% endblock contexts %}