<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>AAA-Airport Analysis (forms) | Splunk</title>
    <meta name="description" content="listen to your data" />
    <meta name="author" content="Splunk Inc." />
    <meta name="viewport" content="width=1024, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/en-US/static/@167776/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/en-US/static/@167776/css/pages/dashboard-simple-bootstrap.min.css" />
</head>
<body class="simplexml preload">
<div class="header">
    <div id="placeholder-splunk-bar">
        <a href="/en-US/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
    </div>
    <div id="placeholder-app-bar"></div>
</div>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>AAA-Airport Analysis (forms)</h2>
        <p class="description"></p>
    </div>
    <div class="fieldset">
        <div class="element input-dropdown" id="field1">
            <label>State:</label>
        </div>
        <div class="element input-dropdown" id="field2">
            <label>Airport:</label>
        </div>
        <div class="element input-dropdown" id="field3">
            <label>Chart Type:</label>
        </div>
    </div>
    <div class="dashboard-row dashboard-row1">
        <div class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                
                <div class="panel-element-row">
                    
                    <div class="dashboard-element single" id="element1" style="width: 100%">
                        <div class="panel-head">
                            <h3>Total Departing Flights</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                
                <div class="panel-element-row">
                    
                    <div class="dashboard-element single" id="element2" style="width: 100%">
                        <div class="panel-head">
                            <h3>Average Departure Delay</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                
                <div class="panel-element-row">
                    <div class="dashboard-element html" id="element6" style="width: 100%">
                        <div class="panel-body html">
                                <div><p></p><h3>User Selections</h3><p>State = $s_state$<br>Airport = $s_airport$<br>Chart Type = $s_chart$</p></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row dashboard-row2">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                
                <div class="panel-element-row">
                    <div class="dashboard-element chart" id="element5" style="width: 100%">
                        <div class="panel-head">
                            <h3>Cancellation Trend</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>
<script>
    var i18n_register = function(){}
</script>
<script src="/en-US/config?autoload=1"></script>
<script src="/en-US/static/@167916/js/contrib/require.js"></script>
<script src="/en-US/static/@167916/js/i18n.js"></script>
<script src="/en-US/static/@167916/js/profiles/shared.js"></script>
<script src="/en-US/static/@167916/js/contrib/require_dev_config.js"></script>
<script type="text/javascript">
require.config({
    baseUrl: "/en-US/static/@167776/js"
});
require([
    "splunkjs/mvc", 
    "splunkjs/mvc/utils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunk.config"], 
    function(mvc, utils, _, $) {
        // AUTO-COMPILED JAVASCRIPT

        //
        // Import required dependencies
        //

        var HeaderView = require("splunkjs/mvc/headerview");
        var FooterView = require("splunkjs/mvc/footerview");
        var Dashboard = require("splunkjs/mvc/simplexml/dashboard");
        var ChartElement = require("splunkjs/mvc/simplexml/element/chart");
        var EventElement = require("splunkjs/mvc/simplexml/element/event");
        var HtmlElement = require("splunkjs/mvc/simplexml/element/html");
        var ListElement = require("splunkjs/mvc/simplexml/element/list");
        var MapElement = require("splunkjs/mvc/simplexml/element/map");
        var SingleElement = require("splunkjs/mvc/simplexml/element/single");
        var TableElement = require("splunkjs/mvc/simplexml/element/table");
        var FormManager = require("splunkjs/mvc/simpleform/formmanager");
        var Dropdown = require("splunkjs/mvc/simpleform/input/dropdown");
        var RadioInput = require("splunkjs/mvc/simpleform/input/radio");
        var TextInput = require("splunkjs/mvc/simpleform/input/text");
        var TimeRangePicker = require("splunkjs/mvc/simpleform/input/timerange");
        var SubmitButton = require("splunkjs/mvc/simpleform/input/submit");
        var SearchManager = require("splunkjs/mvc/searchmanager");
        var SavedSearchManager = require("splunkjs/mvc/savedsearchmanager");
        var SearchTemplate = require("splunkjs/mvc/searchtemplate");
        var PivotSearchManager = require("splunkjs/mvc/pivotsearchmanager");
        var PostProcessSearchContext = require("splunkjs/mvc/postprocess");

        //
        // Create header and footer Splunk UI
        //

        new HeaderView({
            name: 'header',
            section: 'dashboards',
            el: $('.header')
        }).render();

        new FooterView({
            name: 'footer',
            el: $('.footer')
        }).render();

        new Dashboard({
            name: 'dashboard',
            el: $('.dashboard-body')
        }).render();

        //
        // Create components
        //
        
        new SingleElement({
            "name": "element1",
            "managerid": "search1",
            "el": $('#element1')
        }).render();
        
        new SingleElement({
            "name": "element2",
            "managerid": "search2",
            "el": $('#element2')
        }).render();
        
        new HtmlElement({
            "name": "element6",
            "el": $('#element6')
        }).render();
        
        new ChartElement({
            "name": "element5",
            "charting.drilldown": "1",
            "charting.height": "300",
            "charting.axisX.scale": "linear",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.chart": "$s_chart$",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.legend.placement": "bottom",
            "charting.gaugeColors": "[\"84E900\",\"FFE800\",\"BF3030\"]",
            "charting.gaugeAutoRanges": "1",
            "charting.chart.nullValueMode": "gaps",
            "charting.chart.stackMode": "default",
            "charting.chart.rangeValues": "[\"0\",\"30\",\"70\",\"100\"]",
            "managerid": "search3",
            "el": $('#element5')
        }).render();

        splunkjs.mvc.Components.get('element5').on("drilldown", function(e){
            e.defaultDrilldown();
        });


        //
        // Create form manager
        //

        var form = new FormManager({
            name: 'fieldset',
            persist: {
                storage: 'uri',
                prefix: 'form.'
            },
            submitOnChange: false
        });

        //
        // Create form inputs
        //

        new Dropdown({
            "name": "field1",
            "choices": [
                {"value": "*", "label": "ANY"}
            ],
            "labelField": "OriginStateNameCount",
            "valueField": "OriginStateName",
            "submitOnChange": false,
            "token": "s_state",
            "managerid": "search4",
            "formManager": "fieldset",
            "el": $('#field1')
        }).render();

        new SearchTemplate({
            "name": "search4",
            "tokenModel": form.formModel,
            "autostart": true,
            "search": "| inputlookup airports\n| stats dc(OriginAirport) as count by OriginStateName\n| eval OriginStateNameCount = OriginStateName . \" (\" . count . \" airports)\"\n| sort + OriginStateName",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "status_buckets": 0,
            "preview": true,
            "timeFormat": "%s.%Q",
            "wait": 0,
            "runOnSubmit": false
        });

        new Dropdown({
            "name": "field2",
            "choices": [
                {"value": "*", "label": "ANY"}
            ],
            "labelField": "OriginAirport",
            "valueField": "Origin",
            "submitOnChange": true,
            "token": "s_airport",
            "managerid": "search5",
            "formManager": "fieldset",
            "el": $('#field2')
        }).render();

        new SearchTemplate({
            "name": "search5",
            "tokenModel": form.formModel,
            "autostart": true,
            "search": "| inputlookup airports \n| search OriginStateName=\"$s_state$\"\n| dedup OriginAirport\n| sort + OriginAirport",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "status_buckets": 0,
            "preview": true,
            "timeFormat": "%s.%Q",
            "wait": 0,
            "runOnSubmit": false
        });

        new Dropdown({
            "name": "field3",
            "choices": [
                {"value": "column", "label": "column"},
                {"value": "bar", "label": "bar"},
                {"value": "area", "label": "area"}
            ],
            "submitOnChange": true,
            "token": "s_chart",
            "formManager": "fieldset",
            "el": $('#field3')
        }).render();


        //
        // Create searches
        //


        new SearchTemplate({
            "name": "search1",
            "latest_time": "1359705600",
            "earliest_time": "1357027200",
            "search": "index=faa OriginStateName=\"$s_state$\" Origin=\"$s_airport$\"\n| stats count\n| eval delay=tostring(delay,\"commas\")",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "status_buckets": 0,
            "preview": true,
            "timeFormat": "%s.%Q",
            "wait": 0,
            "runOnSubmit": true
        });

        new SearchTemplate({
            "name": "search2",
            "latest_time": "1359705600",
            "earliest_time": "1357027200",
            "search": "index=faa OriginStateName=\"$s_state$\" Origin=$s_airport$ \n| stats avg(DepDelayMinutes) as delay \n| eval delay=round(delay,2)",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "status_buckets": 0,
            "preview": true,
            "timeFormat": "%s.%Q",
            "wait": 0,
            "runOnSubmit": true
        });


        new SearchTemplate({
            "name": "search3",
            "latest_time": "1359705600",
            "earliest_time": "1357027200",
            "search": "index=faa OriginStateName=\"$s_state$\" Origin=\"$s_airport$\" cancellation=*\n| timechart count by cancellation",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "status_buckets": 0,
            "preview": true,
            "timeFormat": "%s.%Q",
            "wait": 0,
            "runOnSubmit": true
        });

        // END OF AUTO-COMPILED JAVASCRIPT
    }
);
</script>
</body>
</html>
