{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>SimpleXML-MVC Data Binding</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body">
                    <p>
                        This example demonstrates syncing properties between
                        SimpleXML components and MVC components on the same page.
                    </p>
                    <p>
                        The components on the left and right sides will keep their
                        values in sync automatically since they are bound to
                        the same token (<code>$hometown$</code>).
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Left Side (SimpleXML)</h3>
                    </div>
                    <div class="panel-body">
                        <p>What is your name?</p>
                        <div id="leftText" class="element input-text"></div>
                        
                        <p>What is your hometown?</p>
                        <!-- The inline-block style is intended to display both controls on the same line -->
                        <div id="leftDropdown" class="element input-dropdown" style="display: inline-block;"></div>
                        <div id="submitButton" class="element input-submit" style="display: inline-block;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Right Side (MVC)</h3>
                    </div>
                    <div class="panel-body">
                        <p>Your name is:</p>
                        <div id="rightText" class="splunk-view" style="display: inline-block;"></div>
                        <em style="margin-left: -0.5em;">(Read Only)</em>
                        
                        <p>Your hometown is:</p>
                        <div id="rightDropdown1" class="splunk-view"></div>
                        
                        <p>Your saved hometown is:</p>
                        <div id="rightDropdown2" class="splunk-view"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block managers %}
{% endblock managers %}

{% block js %}
<script>
    // Because we didn't use the Django template tags, we have to load our
    // dependencies manually.
    var deps = [
        "splunkjs/mvc",
        "splunkjs/mvc/simplexml",
        "splunkjs/mvc/selectview",
        "splunkjs/mvc/textboxview"
    ];
    require(deps, function(mvc) {
        var Dropdown = require("splunkjs/mvc/simpleform/input/dropdown");
        var FormManager = require("splunkjs/mvc/simpleform/formmanager");
        var FormTokens = require("splunkjs/mvc/simpleform/formtokens");
        var SelectView = require("splunkjs/mvc/selectview");
        var Submit = require("splunkjs/mvc/simpleform/input/submit");
        var Text = require("splunkjs/mvc/simpleform/input/text");
        var TextBoxView = require("splunkjs/mvc/textboxview");
        
        // Create SimpleXML form manager
        var form = new FormManager({
            name: 'fieldset',
            persist: {
                storage: 'uri',
                prefix: 'form.'
            },
            submitOnChange: false
        });
        
        // Initialize form-specific MVC token namespaces
        FormTokens.initialize();
        
        var cityChoices = [
            {"value": "Atlanta, GA", "label": "Atlanta, GA"},
            {"value": "Boston, MA",  "label": "Boston, MA"},
            {"value": "Detroit, MI", "label": "Detroit, MI"},
            {"value": "Seattle, WA", "label": "Seattle, WA"}
        ];
        
        // Create left textbox, which is a SimpleXML view
        new Text({
            "name": "leftText",
            "el": $('#leftText'),
            
            // Form token binding
            "submitOnChange": true,
            "token": "name",
            "formManager": "fieldset",
            
            // Form token options
            "prefix": "Sir/Madam ",
            "suffix": "!",
            
            // MVC token binding
            "value": mvc.tokenSafe("$form_raw:name$"),
        }).render();
        
        // Create right textbox, which is an MVC view
        new TextBoxView({
            "name": "rightText",
            "el": $('#rightText'),
            
            // MVC token binding
            "value": mvc.tokenSafe("$form:name$"),
        }).render();
        
        // Create left dropdown, which is a SimpleXML view
        new Dropdown({
            "name": "leftDropdown",
            "el": $('#leftDropdown'),
            
            // Static choices
            "choices": cityChoices,
            
            // Dynamic choices
            //"valueField": "OriginStateName",
            //"labelField": "OriginStateNameCount",
            //"managerid": "search4",
            
            // Form token binding
            "submitOnChange": false,
            "token": "hometown",
            "formManager": "fieldset",
            
            // MVC token binding
            "value": mvc.tokenSafe("$form_raw:hometown$")
        }).render();
        
        // Create right dropdown, which is an MVC view
        new SelectView({
            "name": "rightDropdown1",
            "el": $("#rightDropdown1"),
            
            // Static choices
            "choices": cityChoices,
            
            // MVC token binding
            "value": mvc.tokenSafe("$form_raw:hometown$")
        }).render();
        
        // Create submit button
        new Submit({
            "name": "submitButton",
            "el": $('#submitButton'),
            "text": "Save",
            
            // Form token binding
            "formManager": "fieldset",
        }).render();
        
        // Create dropdown to display the saved value
        new SelectView({
            "name": "rightDropdown2",
            "el": $("#rightDropdown2"),
            
            // Static choices
            "choices": cityChoices,
            
            // MVC token binding
            "value": mvc.tokenSafe("$form_submitted_raw:hometown$")
        }).render();
    });
</script>

{% endblock js %}