{% extends "appfx:base_with_app_bar.html" %}

{% load splunkui %}
{% load url from future %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/dashboard.css" />

    <style>    
    </style>
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>Multiple SimpleXML Dashboards</h4>
                </div>
                <div class="panel-body">
                    You can also display multiple SimpleXML dashboards on a single page,
                    and each will be layed out properly. This can be particularly helpful
                    if you break up your dashboards into individual SimpleXML files that 
                    you can then compose.
                </div>
            </div>
        </div>
    </div>
    
    {% url "render_simplexml" app="examplesfx" path="basic" as url1 %}
    {% simplexml id="simplexml1" contextid="" app="examplesfx" url=url1 %}
    {% url "render_simplexml" app="examplesfx" path="basic2" as url2 %}
    {% simplexml id="simplexml2" contextid="" app="examplesfx" url=url2 %}
</div>

{% endblock content%}