{% extends "appfx:base_with_app_bar.html" %}

{% load splunkmvc %}
{% load url from future %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/dashboard.css" />

    <style>    
    </style>
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>SimpleXML Dashboards</h4>
                </div>
                <div class="panel-body">
                    Using the SimpleXML component, you can easily display SimpleXML
                    dashboards without needing to write any code. Simply point the, 
                    component at your SimpleXML file to render it.
                </div>
            </div>
        </div>
    </div>
    
    {% url "render_simplexml" app="examplesfx" path="basic" as url1 %}
    {% simplexml id="simplexml1" contextid="" app="examplesfx" url=url1 %}
</div>

{% endblock content%}