{% extends "appfx:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/dashboard.css" />
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>Table Row Expansion</h4>
                </div>
                <div class="panel-body">
                    <p>
                    A very nice pattern is to have a table row expand into a
                    more detailed view when it is clicked. Usually, this is
                    done using two searches: one representing the "master"
                    table, and another, which is tokenized for the "detail" view
                    and is set whenever a row is clicked.
                    </p>
                    
                    <p>
                    In this example, when a table row is clicked, we expand
                    that row and start the detail search for that sourcetype. The
                    key takeaway is how we manually work
                    with a search context (and its datasource) to get the results,
                    and how we use the table click to drive that search.
                    </p>
                    
                    <p>
                    Don't be startled by the seemingly large number of lines of code.
                    The majority of it is the HTML-DOM wrangling
                    to get the table to expand properly. In another example,
                    we will show how you could take this functionality and wrap
                    it in a reusable control.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>Table</h4>
                </div>
                <div class="panel-body">
                    {% resulttable id="table" contextid="simplesearch1" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block contexts %}
    {% search id="simplesearch1" search="search index=_internal | stats count by sourcetype" 
        preview=True cache=True autostart=True earliest_time="-1h" %}
        
    {% search id="expandsearch" search="| metadata type=sourcetypes index=_internal | search sourcetype=$sourcetype$"
        preview=False cache=True autostart=False %}
{% endblock contexts %}

{% block js %}
<script>
    splunkjs.mvc.on("start", function() {
        var _ = require('underscore');
        
        var table = splunkjs.mvc.Components.getInstance("table");
        var sourcetypeSearch = splunkjs.mvc.Components.getInstance("expandsearch");
        
        // Let's get a reference to it's data
        var sourcetypeData = sourcetypeSearch.data("results", {
            count: 1
        });
        
        var infoRow = null;
        
        table.on("clicked:row", function(e) {
            // Get the sourcetype that was clicked                    
            var sourcetype = e.model.get("sourcetype");
            
            // We need to find the row in the table that matches this sourcetype,
            // jquery makes this a bit difficult
            var row = table.$("tr").find("td:contains(" + sourcetype + ")")
                .filter(function(idx, cell) {
                    return $(cell).text() === sourcetype;
                }).parent();
                
            // Do some HTML munging
            var tbody = row.parent();
            var rows = row.siblings();
            
            rows.removeClass("toggled");
            tbody.find("tr.info-box").remove();
            
            var numColumns = 3;                
            var template = " \
<tr class='info-box'> \
    <td class='info-td' colspan='<%= colspan %>'> \
        <div class='loading'><img src='{{STATIC_URL}}examplesfx/spin.gif'/></div> \
        <div><h4>Earliest Time:</h4> <span class='earliest-time'></span></div> \
        <div><h4>Latest Time:</h4> <span class='latest-time'></span></div> \
        <div><h4>Total Count:</h4> <span class='total-count'></span></div> \
    </td> \
</tr> \
";
            row.addClass("toggled");
            var newRow = $(_.template(template, {
                colspan: numColumns
            }));
            newRow.find(".earliest-time").parent().hide();
            newRow.find(".latest-time").parent().hide();
            newRow.find(".total-count").parent().hide();
            row.after(newRow);
            infoRow = newRow;
            
            // Here we set the sourcetype onto the query, and start the search
            sourcetypeSearch.query.set("sourcetype", sourcetype.trim());
            sourcetypeSearch.startSearch();
        });
        
        // Whenever the data updates, we can update the HTML                
        sourcetypeData.on("data", function() {                
            infoRow.find(".loading").hide();
            var collection = sourcetypeData.collection();
            var data = collection.at(0);
            
            infoRow.find(".earliest-time")
                .text(new Date(parseInt(data.get("firstTime")) * 1000)).parent().show();
            infoRow.find(".latest-time")
                .text(new Date(parseInt(data.get("lastTime")) * 1000)).parent().show();
            infoRow.find(".total-count")
                .text(data.get("totalCount")).parent().show();
        }); 
    });
</script>

{% endblock js %}