{% extends "appfx:base_with_app_bar.html" %}

{% load splunkui %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/dashboard.css" />

    <style>   
        #timepicker, #timepicker2 {
            margin-top: 5px;
            float: right;
        } 
        
        .panel {
            overflow: visible;
        }
    </style>
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>Timepicker</h4>
                </div>
                <div class="panel-body">
                    <p>
                    It is very common to use a timepicker to control the time
                    bounds of a search. This example shows you can can easily set
                    up a timepicker, without any custom code. This example
                    uses Django template tags, but the same can easily be 
                    achieved in JavaScript.
                    </p>
                    
                    <p>
                    Multiple timepickers can exist simultanenously on the page,
                    controlling different searches (or even the same search).
                    </p>
                    
                    <p>
                    Note that currently only the presets for the timepicker are
                    implemented. Custom time ranges are not supported for this
                    preview release.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>Timepicker 1</h4>
                </div>
                <div class="panel-body">
                    {% timepicker id="timepicker" contextid="simplesearch1" %}
                    {% single id="single1" contextid="simplesearch1" beforeLabel="_internal event Count: " %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>Timepicker 2</h4>
                </div>
                <div class="panel-body">
                    {% timepicker id="timepicker2" contextid="simplesearch2" %}
                    {% single id="single2" contextid="simplesearch2" beforeLabel="_audit event Count: " %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    </div>
</div>

{% endblock content%}

{% block contexts %}
    {% search id="simplesearch1" search="search index=_internal | stats count" 
        preview=True cache=True status_buckets=0 auto_finalize_ec=100000 autostart=True %}
        
    {% search id="simplesearch2" search="search index=_audit | stats count" 
        preview=True cache=True status_buckets=0 auto_finalize_ec=100000 autostart=True %}
{% endblock contexts %}

{% block js %}
<script>
</script>

{% endblock js %}