{% extends "appfx:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/dashboard.css" />

    <style>   
        #timepicker {
            margin-top: 5px;
            float: right;
        } 
        
        .panel {
            overflow: visible;
        }
    </style>
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>Timepicker Groups</h4>
                </div>
                <div class="panel-body">
                    <p>
                    Another common activity is to have one timepicker control
                    multiple searches. In this example, we have the same timepicker
                    set the timebounds for two separate searches that drive
                    the single-value controls.
                    </p>
                    
                    <p>
                    The key to this example is a special context called a <i>group</i> context,
                    which as its name implies, encapsulates multiple contexts
                    and exposes them as a single context.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-head">
                    <h4>Grouped Timepicker</h4>
                </div>
                <div class="panel-body">
                    {% timepicker id="timepicker" contextid="timegroup" %}
                    {% single id="single1" contextid="simplesearch1" beforeLabel="_internal event Count: " %}
                    {% single id="single2" contextid="simplesearch2" beforeLabel="_audit event Count: " %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    </div>
</div>

{% endblock content%}

{% block contexts %}
    {% search id="simplesearch1" search="search index=_internal | stats count" 
        preview=True cache=True status_buckets=0 auto_finalize_ec=100000 autostart=True %}
        
    {% search id="simplesearch2" search="search index=_audit | stats count" 
        preview=True cache=True status_buckets=0 auto_finalize_ec=100000 autostart=True %}
        
    {% group "simplesearch1" "simplesearch2" id="timegroup" %}
{% endblock contexts %}

{% block js %}
<script>
</script>

{% endblock js %}