{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Form Views{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{STATIC_URL}}componentfx/prettify.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
<link rel="stylesheet" href="{{STATIC_URL}}componentfx/custom.css"/>
<style>
    .splunk-checkboxgroup .choice label, .splunk-checkbox .choice label {
        display: inline-block;
        margin-left: 0.4em;        
    }
    .bs-docs-example p.results {
        margin-top: 2ex;
    }
    #example-checkbox {
        display: inline-block;
    }   
</style>
{% endblock css %}

{% block content %}

<!-- FORMS -->
<div class="dashboard-body container-fluid main-section-body"
data-role="main">
  <div class="row">
    <div class="span12 dashboard-header clearfix">
      <h2>Form Views</h2>
    </div>
  </div>

  <div class="dashboard-row">
    <div class="dashboard-cell">
      <div class="dashboard-panel">
        <div class="dashboard-element">
          <div class="panel-head">
          </div>

          <div class="panel-body html">
            <p>
              The form views display common elements of
              web forms (such as a group of radio buttons, a drop-down
              list, and a text box). All of these views have a
              <code>val</code> method that can be used to retrieve
              their current value. For example:
            </p>

            <pre class="prettyprint linenums lang-js">
splunkjs.mvc.Components.getInstance("example-textbox").val();
</pre>
            <h3>
              Events
            </h3>

            <p>
              All form views have a <code>change</code> event.
            </p>

            <div class="c1">
              <p>
                <code>change</code>: Fired when the value changes.
              </p>
            </div>

            <h3>
                Universal Controls.
            </h3>
            
            <p>
                All form views have an option, <code>disabled</code>, which 
                will disable the view object if passed <code>true</code>, or
                enable it if passed <code>false</code>.  
            </p>
        
            <div class="c1">
                <button id="disable-all">Toggle Enable/Disable On All Controls</button>
            </div>

 <div class="page-header">
            </div>

            <h2>
              Radio Group
            </h2>

            <p>
              The <strong>Radio Group</strong> view represents a radio
              button group. This view makes it easier to
              populate a radio button group from a search, but it
              can also be used like a standard HTML radio button
              group.
            </p>

            <p>
              Use the <code>&#123;% radiogroup %&#125;</code> tag and
              set the default option in the <code>default</code>
              property:
            </p>

            <div class="bs-docs-example">
              {% radiogroup id="example-radiogroup" default="One" %}
              <p class="results">
                The radiogroup set is set to: <span id=
                "example-radiogroup-result"></span>
              </p>
            </div>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#django" data-toggle="tab">Django</a>
              </li>

              <li>
                <a href="#js" data-toggle="tab">JavaScript</a>
              </li>
            </ul>

            <div class="tab-content code-sample">
              <div class="tab-pane active django" id="django">
                <pre class="prettyprint linenums lang-js">
&#123;% radiogroup id="example-radiogroup" default="One"%&#125;
</pre>
              </div>
              <div class="tab-pane" id="js">
                <pre class="prettyprint linenums lang-js">
var RadioGroupView = require("splunkjs/mvc/radiogroupview");
new RadioGroupView({
    id: "example-radiogroup",
    default: "One",
    el: $("#divToHangOn")
}).render();
</pre>
              </div>
            </div>

            <h3>
              Options
            </h3>

            <p>
              You can set properties for radio button groups, but
              some can only be set in JavaScript because they take
              a list that cannot be declared using templates tags.
            </p>

            <div class="c1">
              <p>
                <code>choices</code>: A static dictionary of
                options for the radio button group (must be set in
                JavaScript).
              </p>

              <pre class="prettyprint linenums lang-js">
// Set up choices            
var choices = [
    {label: " One", value: "One"},
    {label:" Two", value: "Two"}, 
    {label:" Three", value: "Three"}];

// Assign them to the button group
splunkjs.mvc.Components.getInstance("example-radiogroup").settings.set("choices", choices);      
</pre>
              <p>
                <code>managerid</code>: The manager that specifies the
                search to populate the radio button group. For this
                to be very useful, set <code>valueField</code>,
                <code>labelField</code>, or both to specify which
                fields in the search results to use for values and
                labels. See the example below for more.
              </p>

              <p>
                <code>valueField</code>: The search field to use
                for button values.
              </p>

              <p>
                <code>labelField</code>: The search field to use
                for button labels. If a <code>labelField</code> is
                not set, the button labels default to the
                <code>valueField</code> values.
              </p>

              <p>
                <code>default</code>: The default selected button.
              </p>
            </div>

            <h3>
                Events
            </h3>
            
            <p>
              After a <code>change</code> event,
              the <strong>RadioGroup</strong> view returns the value of
              selected radio button.
            </p>
<pre class="prettyprint linenums lang-js">
    var rbg = splunkjs.mvc.Components.getInstance("example-radiogroup");
    var rbResult = document.getElementById("example-radiogroup-result");
    rbg.on("change", function(){
        rbResult.innerHTML = rbg.val();
    });
</pre>
            <h3>
              Example
            </h3>

            <p>
              In this example, a radio group is created and bound
              to a search manager that shows all of the available
              indexes on the Splunk instance. The button group is
              created in the content block and the search manager
              is created in the managers block.
            </p>

            <div class="bs-docs-example">
              {% radiogroup id="example-radiogroup2"
              managerid="indexes-search" labelField="index"
              valueField="index"%}
              <p class="results">
                The radio group set is set to: <span id=
                "example-radiogroup2-result"></span>
              </p>
            </div>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#django2" data-toggle="tab">Django</a>
              </li>

              <li>
                <a href="#js2" data-toggle="tab">JavaScript</a>
              </li>
            </ul>

            <div class="tab-content code-sample">
              <div class="tab-pane active" id="django2">
                <pre class="prettyprint linenums lang-js">
&#123;% block content %&#125;
  &#123;% radiogroup id="example-radiogroup2" managerid="indexes-search" labelField="index" valueField="index"%&#125;
&#123;% endblock content %&#125; 

&#123;% block managers %&#125; 
  &#123;% searchmanager id="indexes-search" search="| eventcount summarize=false index=* index=_* | dedup index | fields index" preview=False cache=True %&#125; 
&#123;% endblock managers %&#125;
</pre>
              </div>

              <div class="tab-pane" id="js2">
                <pre class="prettyprint linenums lang-js">
var RadioGroupView = require("splunkjs/mvc/radiogroupview");
new RadioGroupView({
    id: "example-radiogroup",
    default: "One",
    managerid: "indexes-search",
    labelField: "index",
    valueField: "index",
    el: $("#divToHangOn")
}).render();

var SearchManager = require("splunkjs/mvc/searchmanager");
new SearchManager({
    id: "indexes-search",
    search: "| eventcount summarize=false index=* index=_* | dedup index | fields index",
});</pre>
                </div>
            </div>

             <div class="page-header">
            </div>

            <h2>
              Select
            </h2>

            <p>
              The <strong>Select</strong> view represents a
              drop-down list that can be bound to a search manager,
              but can also be used as a standard HTML select
              view that emits change events.
            </p>

            <p>
              Use the <code>&#123;% select %&#125;</code> tag and
              set the default option in the <code>default</code>
              property:
            </p>

            <div class="bs-docs-example">
              {% select id="example-select" default="One" %}
              <p class="results">
                You have selected: <span id=
                "example-select-result"></span>
              </p>
            </div>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#django3" data-toggle="tab">Django</a>
              </li>

              <li>
                <a href="#js3" data-toggle="tab">JavaScript</a>
              </li>
            </ul>

            <div class="tab-content code-sample">
              <div class="tab-pane active django" id="django3">
                <pre class="prettyprint linenums lang-js">
&#123;% select id="example-select" default="One"%&#125;
</pre>
              </div>

              <div class="tab-pane" id="js3">
                <pre class="prettyprint linenums lang-js">
var SelectView = require("splunkjs/mvc/selectview");
new SelectView({
    id: "example-select",
    default: "One",
    el: $("#divToHangOn")
}).render();</pre>
              </div>
            </div>
 
            <h3>
              Options
            </h3>

            <p>
              You can set properties for a select drop-down list,
              but some properties can only be set in JavaScript
              because they take a list that cannot be declared
              using templates tags.
            </p>

            <div class="c1">
              <p>
                <code>choices</code>: A static dictionary of
                options for the drop-down list (must be set in
                JavaScript):
              </p>

              <pre class="prettyprint linenums lang-js">
// Set up choices            
var choices = [{label: " One", value: "One"},
{label:" Two", value: "Two"}, 
{label:" Three", value: "Three"}];

// Assign them to the select group
splunkjs.mvc.Components.getInstance("example-select").settings.set("choices", choices);      
</pre>
              <p>
                <code>valueField</code>: The search field to use
                for list options.
              </p>

              <p>
                <code>labelField</code>: The search field to use
                for list options. If no <code>labelField</code>is
                set, the select options will default to the
                <code>valueField</code> values.
              </p>

              <p>
                <code>default</code>: The default selected option.
              </p>
            </div>

            <h3>
                Events
            </h3>
            
            <p>
              After the <code>change</code> event,
              the <strong>Select</strong> view returns the value of
              selected item.
            </p>
<pre class="prettyprint linenums lang-js">
var sbg = splunkjs.mvc.Components.getInstance("example-select");
var sbResult = document.getElementById("example-select-result");
sbg.on("change", function(){
    sbResult.innerHTML = sbg.val();
});
</pre>

            <h3>
              Example
            </h3>

            <p>
              This example shows how to bind a
              <strong>Select</strong> view to a search manager
              to populate the drop-down list options using template
              tags. The <strong>Select</strong> view is defined
              in the content block and the search manager is
              defined in the managers block.
            </p>

            <div class="bs-docs-example">
              {% select id="example-select1"
              managerid="indexes-search" valueField="index"%}
              <p class="results">
                You have selected: <span id=
                "example-select1-result"></span>
              </p>
            </div>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#django4" data-toggle="tab">Django</a>
              </li>

              <li>
                <a href="#js4" data-toggle="tab">JavaScript</a>
              </li>
            </ul>

            <div class="tab-content code-sample">
              <div class="tab-pane active django" id="django4">
                <pre class="prettyprint linenums lang-js">
&#123;% block content %&#125;
  &#123;% select id="example-select" managerid="indexes-search" valueField="index"%&#125;
&#123;% endblock content %&#125;

&#123;% block managers %&#125; 
  &#123;% searchmanager id="indexes-search" search="| eventcount summarize=false index=* index=_* | dedup index | fields index" preview=False cache=True %&#125; 
&#123;% endblock managers %&#125; 
</pre>
              </div>

              <div class="tab-pane" id="js4">
                <pre class="prettyprint linenums lang-js">
var SelectView = require("splunkjs/mvc/selectview");
new SelectView({
    id: "example-select",
    default: "One",
    managerid: "indexes-search",
    labelField: "index",
    valueField: "index",
    el: $("#divToHangOn")
}).render();

var SearchManager = require("splunkjs/mvc/searchmanager");
new SearchManager({
    id: "indexes-search",
    search: "| eventcount summarize=false index=* index=_* | dedup index | fields index",
});
</pre>
              </div>
            </div>

            <h2>
              MultiSelect
            </h2>

            <p>
              The <strong>MultiSelect</strong> view represents a
              drop-down list that can be bound to a search manager,
              but can also be used as a standard HTML select
              view that emits change events.  The MultiSelect view
              can return more than one value, and always returns
              an array of values.
            </p>

            <p>
              Use the <code>&#123;% multiselect %&#125;</code> tag.
              Because MultiSelect views take an array of defaults
              and values, these can only be set through Javascript.
            </p>

            <div class="bs-docs-example">
              {% multiselect id="example-multiselect" default="One" %}
              <p class="results">
                You have selected: <span id=
                "example-multiselect1-result"></span>
              </p>
            </div>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#django-ms3" data-toggle="tab">Django</a>
              </li>

              <li>
                <a href="#js-ms3" data-toggle="tab">JavaScript</a>
              </li>
            </ul>

            <div class="tab-content code-sample">
              <div class="tab-pane active django" id="django-ms3">
                <pre class="prettyprint linenums lang-js">
&#123;% multiselect id="example-multiselect"%&#125;
</pre>
              </div>

              <div class="tab-pane" id="js-ms3">
                <pre class="prettyprint linenums lang-js">
var MultiSelectView = require("splunkjs/mvc/multiselectview");
new MultiSelectView({
    id: "example-multiselect",
    default: "One",
    el: $("#divToHangOn")
}).render();</pre>
              </div>
            </div>
 
            <h3>
              Options
            </h3>

            <p>
              You can set properties for a select drop-down list,
              but some properties can only be set in JavaScript
              because they take a list that cannot be declared
              using templates tags.
            </p>

            <div class="c1">
              <p>
                <code>choices</code>: A static dictionary of
                options for the drop-down list (must be set in
                JavaScript):
              </p>

              <pre class="prettyprint linenums lang-js">
// Set up choices            
var choices = [{label: " One", value: "One"},
{label:" Two", value: "Two"}, 
{label:" Three", value: "Three"}];

// Assign them to the multiselect group
splunkjs.mvc.Components.getInstance("example-multiselect").settings.set("choices", choices);      
</pre>
              <p>
                <code>valueField</code>: The search field to use
                for list options.
              </p>

              <p>
                <code>labelField</code>: The search field to use
                for list options. If no <code>labelField</code>is
                set, the multiselect options will default to the
                <code>valueField</code> values.
              </p>

              <p>
                <code>default</code>: The default selected option.
              </p>
            </div>

            <h3>
                Events
            </h3>
            
            <p>
              After the <code>change</code> event,
              the <strong>MultiSelect</strong> view returns the value of
              selected item.
            </p>
<pre class="prettyprint linenums lang-js">
var sbg = splunkjs.mvc.Components.getInstance("example-multiselect");
var sbResult = document.getElementById("example-multiselect-result");
sbg.on("change", function(){
    sbResult.innerHTML = sbg.val().join(", ");
});
</pre>

            <h3>
              Example
            </h3>

            <p>
              This example shows how to bind a
              <strong>MultiSelect</strong> view to a search manager
              to populate the drop-down list options using template
              tags. The <strong>MultiSelect</strong> view is defined
              in the content block and the search manager is
              defined in the managers block.
            </p>

            <div class="bs-docs-example">
              {% multiselect id="example-multiselect2"
              managerid="indexes-search" valueField="index"%}
              <p class="results">
                You have selected: <span id=
                "example-multiselect2-result"></span>
              </p>
            </div>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#django-ms4" data-toggle="tab">Django</a>
              </li>

              <li>
                <a href="#js-ms4" data-toggle="tab">JavaScript</a>
              </li>
            </ul>

            <div class="tab-content code-sample">
              <div class="tab-pane active django" id="django-ms4">
                <pre class="prettyprint linenums lang-js">
&#123;% block content %&#125;
  &#123;% multiselect id="example-multiselect" managerid="indexes-search" valueField="index"%&#125;
&#123;% endblock content %&#125;

&#123;% block managers %&#125; 
  &#123;% searchmanager id="indexes-search" search="| eventcount summarize=false index=* index=_* | dedup index | fields index" preview=False cache=True %&#125; 
&#123;% endblock managers %&#125; 
</pre>
              </div>

              <div class="tab-pane" id="js-ms4">
                <pre class="prettyprint linenums lang-js">
var MultiSelectView = require("splunkjs/mvc/multiselectview");
new SelectView({
    id: "example-multiselect",
    default: ["One"],
    managerid: "indexes-search",
    labelField: "index",
    valueField: "index",
    el: $("#divToHangOn")
}).render();

var SearchManager = require("splunkjs/mvc/searchmanager");
new SearchManager({
    id: "indexes-search",
    search: "| eventcount summarize=false index=* index=_* | dedup index | fields index",
});
</pre>
              </div>
            </div>

             <div class="page-header">
            </div>

            <h2>
              Text box
            </h2>

            <p>
              The <strong>TextBox</strong> view represents a
              basic text input box. The <code>val</code> method
              returns the current text.
            </p>

            <p>
              Use the <code>&#123;% textbox %&#125;</code> tag and
              set the default text in the <code>default</code>
              property.
            </p>

            <h3>
              Options
            </h3>

            <p>
              Textbox only has one option:
            </p>

            <div class="c1">
              <p>
                <code>default</code>: The default text.
              </p>
            </div>

            <h3>
              Example
            </h3>

            <p>
              In this example, two text boxes are created using
              templates tags. In JavaScript, when a
              <code>change</code> event occurs, the text boxes swap
              their values.
            </p>

            <div class="bs-docs-example">
              {% textbox id="example-textbox1" default="type here" %} 
              {% textbox id="example-textbox2" default="to be replaced" %}
            </div>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#django-tb1" data-toggle="tab">Django</a>
              </li>

              <li>
                <a href="#js-tb1" data-toggle="tab">JavaScript</a>
              </li>
            </ul>

            <p>
            <div class="tab-content code-sample">
              <div class="tab-pane active django" id="django-tb1">
                <pre class="prettyprint linenums lang-js">
&#123;% textbox id="example-textbox1" default="type here" %&#125; 
&#123;% textbox id="example-textbox2" default="to be replaced" %&#125;
</pre>
              </div>

              <div class="tab-pane" id="js-tb1">
                <pre class="prettyprint linenums lang-js">
var TextBoxView = require("splunkjs/mvc/textboxview");
new TextBoxView({
    id: "example-textbox1",
    default: "type here",
    el: $("#divToHangOn")
}).render();

new TextBoxView({
    id: "example-textbox2",
    default: "to be replaced",
    el: $("#secondDivToHangOn")
}).render();
</pre>
              </div>
            </div>

            <p>
              How to interact in JavaScript:
            </p>

            <pre class="prettyprint linenums lang-js">
// Get textbox elements
var tb1 = splunkjs.mvc.Components.getInstance("example-textbox1");
var tb2 = splunkjs.mvc.Components.getInstance("example-textbox2");

// Attach change events
tb1.on("change", function(){
  tb2.val(tb1.val());
})
tb2.on("change", function(){
  tb1.val(tb2.val());
})
</pre>
 <div class="page-header">
            </div>
            <h2>
              Passwords
            </h2>

            <p>
              The <strong>TextBox</strong> can be configured to show
              an input box suitable to passwords and other data that
              should not be echoed back to the
              display. The <code>val</code> method returns the current
              text.
            </p>

            <p>
              Use the <code>&#123;% textbox %&#125;</code> tag and set
              the "password" property in the <code>type</code>
              property.
            </p>

            <h3>
              Options
            </h3>

            <p>
              The Text box only has one option:
            </p>

            <div class="c1">
              <p>
                <code>default</code>: The default text.
              </p>
            </div>

            <h3>
              Example
            </h3>

            <p>
              In this example, a password box and a text box are
              created using templates tags. In JavaScript, when a
              <code>change</code> event occurs in one, the value is
              copied into the other.
            </p>

            <div class="bs-docs-example">
              {% textbox type="password" id="example-passwordbox1" default="" %}
              {% textbox id="example-textbox3" default="to be replaced" %}
            </div>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#django-pw1" data-toggle="tab">Django</a>
              </li>

              <li>
                <a href="#js-pw1" data-toggle="tab">JavaScript</a>
              </li>
            </ul>

            <p>
            <div class="tab-content code-sample">
              <div class="tab-pane active django" id="django-pw1">
                <pre class="prettyprint linenums lang-js">
&#123;% textbox type="password" id="example-passwordbox1" default="" %&#125; 
&#123;% textbox id="example-textbox3" default="to be replaced" %&#125;
</pre>
              </div>

              <div class="tab-pane" id="js-pw1">
                <pre class="prettyprint linenums lang-js">
var TextBoxView = require("splunkjs/mvc/textboxview");

new TextBoxView({
    id: "example-passwordbox1",
    type: "password",
    default: "to be replaced",
    el: $("#divToHangOn")
}).render();

new TextBoxView({
    id: "example-textbox3",
    el: $("#secondDivToHangOn")
}).render();
</pre>
              </div>
            </div>
            <p>
              Interact in JavaScript:
            </p>

            <pre class="prettyprint linenums lang-js">
// Get textbox elements
var pb1 = splunkjs.mvc.Components.getInstance("example-passwordbox1");
var tb3 = splunkjs.mvc.Components.getInstance("example-textbox3");

// Attach change events
pb1.on("change", function(){
  tb3.val(pb1.val());
});
tb3.on("change", function(){
  pb1.val(tb3.val());
});
</pre>
 <div class="page-header">
            </div>
            <h2>
              Checkbox
            </h2>

            <p>
              The <strong>Checkbox</strong> view represents a
              Boolean value. The <code>val</code> method
              returns the current state of the checkbox (<code>true</code> or 
              <code>false</code>).
            </p>

            <p>
              Use the <code>&#123;% checkbox %&#125;</code> tag and
              set the default value in the <code>default</code>
              property.
            </p>

            <h3>
              Options
            </h3>

            <p>
              Checkbox only has one option:
            </p>

            <div class="c1">
              <p>
                <code>default</code>: The default value. Any value
                other than an empty string evaluates to <code>true</code>.
              </p>
            </div>

            <h3>
              Example
            </h3>

            <p>
              In this example, a checkbox is created using
              templates tags. In JavaScript, when a
              <code>change</code> event occurs, the the value of
              the checkbox is shown.
            </p>

            <div class="bs-docs-example">
              Checkbox: {% checkbox id="example-checkbox"
              default="" %}
              <p class="results">
                The checkbox is set to: <span id=
                "example-checkbox-result">false</span>
              </p>
            </div>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#django-cb1" data-toggle="tab">Django</a>
              </li>

              <li>
                <a href="#js-cb1" data-toggle="tab">JavaScript</a>
              </li>
            </ul>

            <p>
            <div class="tab-content code-sample">
              <div class="tab-pane active django" id="django-cb1">
                <pre class="prettyprint linenums lang-js">
&#123;% checkbox id="example-checkbox" default="" %&#125; 
</pre>
              </div>

              <div class="tab-pane" id="js-cb1">
                <pre class="prettyprint linenums lang-js">
var CheckBoxView = require("splunkjs/mvc/checkboxview");

new CheckBoxView({
    id: "example-checkbox",
    el: $("#divToHangOn")
}).render();
</pre>
              </div>
            </div>

            <p>
              Interact in JavaScript:
            </p>

            <pre class="prettyprint linenums lang-js">
//get checkbox element and results line
var cb1 = splunkjs.mvc.Components.getInstance("example-checkbox");
var cb2 = document.getElementById("example-checkbox-result");

//attach change event
cb1.on("change", function(){
  cb2.innerHTML = (cb1.val() ? "true" : "false");
});
</pre>

 <div class="page-header">
            </div>
            <h2>
              Checkbox group
            </h2>

            <p>
              The <strong>CheckboxGroup</strong> view
              represents a checkbox group. This view makes it
              easier to populate a checkbox group from a search,
              but it can also be used like a standard HTML checkbox
              group.
            </p>

            <p>
              Use the <code>&#123;% checkboxgroup %&#125;</code>
              tag and set the default option the in
              <code>default</code> property:
            </p>

            <div class="bs-docs-example">
              {% checkboxgroup id="example-checkboxgroup"
              default="One" %}
              <p class="results">
                The chosen item(s) are: <span id=
                "example-checkboxgroup1-result"></span>
              </p>
            </div>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#djangocbg12" data-toggle="tab">Django</a>
              </li>

              <li>
                <a href="#jscbg12" data-toggle="tab">JavaScript</a>
              </li>
            </ul>

            <div class="tab-content code-sample">
              <div class="tab-pane active" id="djangocbg12">
                <pre class="prettyprint linenums lang-js">
&#123;% checkboxgroup id="example-checkboxgroup" default="One"%&#125;
</pre>
              </div>

              <div class="tab-pane" id="jscbg12">
                <pre class="prettyprint linenums lang-js">
var CheckboxGroupView = require("splunkjs/mvc/checkboxgroupview");
new CheckboxGroupView({
  id: "example-checkboxgroup",
  default: "One",
  el: $("#divToHangOn")
}).render();
</pre>
              </div>
            </div>
            <p>
              Interact in JavaScript:
            </p>

            <pre class="prettyprint linenums lang-js">
var cbg1 = splunkjs.mvc.Components.getInstance("example-checkboxgroup");
var cbgr = document.getElementById("example-checkboxgroup1-result");

// Set choices (see next section for setting choices)

// Attach change event.  Note: CheckboxGroup's result is always a javascript array.
cbg1.on("change", function() {
    cbgr.innerHTML = cbg1.val().join(", ");
});
</pre>

            <h3>
              Options
            </h3>

            <p>
              You can set properties for checkbox groups, but some
              can only be set in JavaScript because they take a
              list that cannot be declared using templates tags.
            </p>

            <div class="c1">
              <p>
                <code>choices</code>: A static dictionary of
                options for the checkbox group (must be set in
                JavaScript).
              </p>

              <pre class="prettyprint linenums lang-js">
// Set up choices            
var choices = [{label: " One", value: "One"},
{label:" Two", value: "Two"}, 
{label:" Three", value: "Three"}];

// Assign them to the checkbox group
splunkjs.mvc.Components.getInstance("example-checkboxgroup").settings.set("choices", choices);      
</pre>
              <p>
                <code>managerid</code>: The manager that specifies the
                search to populate the checkbox group. For this to
                be very useful, set <code>valueField</code>,
                <code>labelField</code>, or both to specify which
                fields in the search results to use for values and
                labels. See the example below for more on this.
              </p>

              <p>
                <code>valueField</code>: The search field to use
                for button values.
              </p>

              <p>
                <code>labelField</code>: The search field to use
                for button labels. If a <code>labelField</code> is
                not set, the button labels default to the
                <code>valueField</code> values.
              </p>

              <p>
                <code>default</code>: The default selected button.
              </p>
            </div>

            <h3>
              Example
            </h3>

            <p>
              In this example, a checkbox group is created and
              bound to a search manager that shows all of the
              available indexes on the Splunk instance. The button
              group is created in the content block and the search
              manager is created in the managers block.
            </p>

            <div class="bs-docs-example">
              {% checkboxgroup id="example-checkboxgroup2"
              managerid="indexes-search" labelField="index"
              valueField="index" %}
              <p class="results">
                The chosen item(s) are: <span id=
                "example-checkboxgroup2-result"></span>
              </p>
            </div>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#djangocbg22" data-toggle="tab">Django</a>
              </li>

              <li>
                <a href="#jscbg22" data-toggle="tab">JavaScript</a>
              </li>
            </ul>

            <div class="tab-content code-sample">
              <div class="tab-pane active" id="djangocbg22">
                <pre class="prettyprint linenums lang-js">
&#123;% block content %&#125;
  &#123;% checkboxgroup id="example-checkboxgroup2" managerid="indexes-search" labelField="index" valueField="index"%&#125;
&#123;% endblock content %&#125; 

&#123;% block managers %&#125; 
  &#123;% searchmanager id="indexes-search" search="| eventcount summarize=false index=* index=_* | dedup index | fields index" preview=False cache=True %&#125; 
&#123;% endblock managers %&#125;
</pre>
              </div>

              <div class="tab-pane" id="jscbg22">
                <pre class="prettyprint linenums lang-js">
var CheckboxGroupView = require("splunkjs/mvc/checkboxgroupview");
new CheckboxGroupView({
    id: "example-checkboxgroup",
    default: "One",
    managerid: "indexes-search",
    labelField: "index",
    valueField: "index",
    el: $("#divToHangOn")
}).render();

var SearchManager = require("splunkjs/mvc/searchmanager");
new SearchManager({
  id: "example-single-search",
  search: "| eventcount summarize=false index=* index=_* | dedup index | fields index",
}); 
</pre>
              </div>
            </div>
            <!-- END FORMS -->
            <!-- SINGLE-->

            <div class="page-header">
            </div>

            <h2>
              Single value view
            </h2>

            <p>
              The <strong>Single</strong> view displays a single
              value based on a search manager, which can be useful
              for showing an aggregate value such as a <code>stats
              count</code>.
            </p>

            <p>
              Use the <code>&#123;% single %&#125;</code> tag with
              the <code>managerid</code> property to specify the
              search manager.
            </p>

            <div class="bs-docs-example">
              {% single id="example-single" managerid="example-single-search" beforeLabel="Event count:" %}
            </div>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#django5" data-toggle="tab">Django</a>
              </li>

              <li>
                <a href="#js5" data-toggle="tab">JavaScript</a>
              </li>
            </ul>

            <div class="tab-content code-sample">
              <div class="tab-pane active django" id="django5">
                <pre class="prettyprint linenums lang-js">
&#123;% block content %&#125;
  &#123;% single id="example-single" managerid="example-single-search" beforeLabel="Event count:" %&#125;
&#123;% endblock content %&#125;

&#123;% block managers %&#125; 
  &#123;% searchmanager id="example-single-search" search="index=_internal | stats count" earliest_time="-15m" latest_time="now" %&#125;   
&#123;% endblock managers %&#125;
</pre>
              </div>

              <div class="tab-pane" id="js5">
                <pre class="prettyprint linenums lang-js">
var SingleView = require("splunkjs/mvc/singleview");
new SingleView({
  managerid: "example-single-search",
  el: $("#divToHangOn")
}).render();

var SearchManager = require("splunkjs/mvc/searchmanager");
new SearchManager({
  id: "example-single-search",
  search: "index=_internal | stats count",
}); 
</pre>
              </div>
            </div>

            <h3>
              Options
            </h3>

            <p>
              You can set the following properties using templates
              tags or JavaScript:
            </p>

            <div class="c1">
              <p>
                <code>managerid</code>: The search manager.
              </p>

              <p>
                <code>afterLabel</code>: A label to be placed after
                the value.
              </p>

              <p>
                <code>beforeLabel</code>: A label to be placed in
                front of the value.
              </p>

              <p>
                <code>Field</code>: The search field to use as the
                display value.
              </p>

              <p>
                <code>classField</code>: When set to <code>range</code>, works
                with the rangemap search command to visually convey
                severity (see the example below). For more on
                rangemap, see <a href=
                "http://docs.splunk.com/Documentation/Splunk/latest/SearchReference/Rangemap#Using_rangemap_with_single_value_panels"
                target="_blank">Using rangemap with single value
                panels</a>.
              </p>
            </div>

            <h3>
              Example
            </h3>

            <p>
              In this example, the search manager bound to the
              <strong>Single</strong> view uses the rangemap
              search command to create a range field in the search
              results that indicates a severity of values.
            </p>

            <div class="bs-docs-example">
              {% single id="example-single2" managerid="example-single-search" beforeLabel="Event count:" classField="range" %}
            </div>

            <pre class="prettyprint linenums lang-js">
&#123;% block content %&#125;
  &#123;% single id="example-single" managerid="example-single-search" beforeLabel="Event count:" classField="range" %&#125;
&#123;% endblock content %&#125; 
&#123;% block managers %&#125; 
  &#123;% searchmanager id="example-single-search" search="index=_internal | stats count | rangemap field=count low=0-3 elevated=3-6 severe=6-10 default=severe" earliest_time="-15m" latest_time="now" %&#125;   
&#123;% endblock managers%&#125;   
</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block managers %}
    {% searchmanager id="example-single-search" search="index=_internal | stats count | rangemap field=count low=0-3 elevated=3-6 severe=6-10 default=severe" earliest_time="-15m" latest_time="now" %}

    {% searchmanager id="indexes-search" search="| eventcount summarize=false index=* index=_* | dedup index | fields index" preview=False cache=True %}
{% endblock managers %}

{% block js %}

{{block.super}}

<script type="text/javascript">

require.config({
    shim: {
        "componentfx/prettify": {
            deps: [],
            exports: "prettyPrint"
        } 
    }
});

require(["componentfx/prettify", "bootstrap.tab"], function(prettyPrint) {
    // Formats code samples
    prettyPrint();
});

require(["splunkjs/ready!"], function(mvc) {

    var rb11 = splunkjs.mvc.Components.getInstance("example-radiogroup");
    var rb12 = document.getElementById("example-radiogroup-result");
    rb11.on("change", function(){
        rb12.innerHTML = rb11.val();
    });


    var rb21 = splunkjs.mvc.Components.getInstance("example-radiogroup2");
    var rb22 = document.getElementById("example-radiogroup2-result");
    rb21.on("change", function(){
        rb22.innerHTML = rb21.val();
    });

    var tb1 = splunkjs.mvc.Components.getInstance("example-textbox1");
    var tb2 = splunkjs.mvc.Components.getInstance("example-textbox2");
    tb1.on("change", function(){
        tb2.val(tb1.val());
    });
    tb2.on("change", function(){
        tb1.val(tb2.val());
    });

    var pb1 = splunkjs.mvc.Components.getInstance("example-passwordbox1");
    var tb3 = splunkjs.mvc.Components.getInstance("example-textbox3");
    pb1.on("change", function(){
        tb3.val(pb1.val());
    });
    tb3.on("change", function(){
        pb1.val(tb3.val());
    });

    var cb1 = splunkjs.mvc.Components.getInstance("example-checkbox");
    var cb2 = document.getElementById("example-checkbox-result");
    cb1.on("change", function(){
        cb2.innerHTML = (cb1.val() ? "true" : "false");
    });

    var cbg1 = splunkjs.mvc.Components.getInstance("example-checkboxgroup");
    var cbgr = document.getElementById("example-checkboxgroup1-result");
    cbg1.on("change", function() {
        cbgr.innerHTML = cbg1.val().join(", ");
    });

    var cbg2 = splunkjs.mvc.Components.getInstance("example-checkboxgroup2");
    var cbgr2 = document.getElementById("example-checkboxgroup2-result");
    cbg2.on("change", function() {
        cbgr2.innerHTML = cbg2.val().join(", ");
    });

    var es1 = splunkjs.mvc.Components.getInstance("example-select")
    var es1r = document.getElementById("example-select-result");
    es1.on("change", function() {
        es1r.innerHTML = es1.val();
    });

    var ms1 = splunkjs.mvc.Components.getInstance("example-multiselect");
    var msr = document.getElementById("example-multiselect1-result");
    ms1.on("change", function() {
        msr.innerHTML = ms1.val().join(", ");
    });

    var ms2 = splunkjs.mvc.Components.getInstance("example-multiselect2");
    var msr2 = document.getElementById("example-multiselect2-result");
    ms2.on("change", function() {
        msr2.innerHTML = ms2.val().join(", ");
    });

    var es2 = splunkjs.mvc.Components.getInstance("example-select1")
    var es2r = document.getElementById("example-select1-result");
    es2.on("change", function() {
        es2r.innerHTML = es2.val();
    });

    var choices = [{label: " One", value: "One"},
    {label:" Two", value: "Two"}, 
    {label:" Three", value: "Three"}];

    splunkjs.mvc.Components.getInstance("example-radiogroup").settings.set("choices", choices);
    splunkjs.mvc.Components.getInstance("example-select").settings.set("choices", choices);
    splunkjs.mvc.Components.getInstance("example-multiselect").settings.set("choices", choices);
    splunkjs.mvc.Components.getInstance("example-checkboxgroup").settings.set("choices", choices);

    $("#disable-all").click(function() {
        var ctrls = [rb11, rb21, tb1, tb2, pb1, tb3, cb1, cbg1, cbg2, es1,
                     ms1, ms2, es2];
        var state = true;
        if (ctrls[0].$("input").first().is(":disabled")) {
            state = false;
        }
        $.each(ctrls, function(idx, val) {
            val.settings.set("disabled", state);
        });
    }); 
});

</script>

{% endblock js %}
