{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}

   <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
<link rel="stylesheet" href="{{STATIC_URL}}componentfx/custom.css"/>
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Overview of the Component Reference for the Splunk Application Framework</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body html">
                        <p>This Component Reference app provides explanations and examples of the all of the components (views and search managers) in the new Splunk Application Framework, demonstrates how they are used, and lists the options for each. Use the navigation bar above to explore the different types of components that are available.</p>
                         </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block js %}    
{% endblock js %}