{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}}Forms{% endblock title %}

{% block css %}
<!-- <link rel="stylesheet" href="{{SPLUNK_STATIC_URL}}splunkjs/contrib/bootstrap/css/bootstrap.css"/> -->
<link rel="stylesheet" href="{{STATIC_URL}}componentfx/prettify.css"/>
<!-- <link rel="stylesheet" href="{{STATIC_URL}}componentfx/docs.css"/> -->
<link rel="stylesheet" href="{{STATIC_URL}}componentfx/bootstrap-responsive.css"/>

{% endblock css %}

{% block content %}<!-- LEARN MORE -->
<div class="section" id="learnmore">
   
    <h1>Learn more</h1>
    <p>We have more resources for you to learn about the new Splunk App Framework:</p>
    <ul>
        <li><a href="http://dev.splunk.com/view/app-framework/SP-CAAAEMA" target="_blank">The Splunk Developer Portal</a> is the home of our documentation, where you'll find more in-depth explanations of how things work, including code examples.</li>
        <li><a href="http://docs.splunk.com/Documentation:AppFramework" target="_blank">Splunk App Framework Component Reference</a> is the complete reference for all of the contexts and controls, including methods, properties, events, and more code examples.</li>
    </ul>
</div>
<!-- END LEARN MORE -->


{% endblock content%}

{% block managers %}

{% endblock managers %}


{% block js %}

{{block.super}}

<script type="text/javascript">

require.config({
    shim: {
        "componentfx/prettify": {
            deps: [],
            exports: "prettyPrint"
        } 
    }
});


require(["componentfx/prettify"], function(prettyPrint) {
    prettyPrint();
});


    
</script>

{% endblock js %}