{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Table Views{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{STATIC_URL}}componentfx/prettify.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
<link rel="stylesheet" href="{{STATIC_URL}}componentfx/custom.css"/>
{% endblock css %}

{% block content %}

<!-- RESULT TABLE -->
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2>Table Views</h2>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    <div class="panel-body html">
    <h2>Result table</h2>
    <p>The <b>ResultTable</b> view is a fully-featured Splunk-style results table that supports pagination. Given a search manager, the <b>ResultTable</b> displays the processed results from that search.</p>
    <p>Use the <code>&#123;% resulttable %&#125;</code> tag with the <code>managerid</code> property to specify the search manager.</p>

    <div class="bs-docs-example">
        {% resulttable id="example-table" managerid="example-search" pageSize="5" %} 
    </div>

<ul class="nav nav-tabs">
                <li class="active">
                    <a href="#django" data-toggle="tab">Django</a>
                </li>
                <li>
                    <a href="#js" data-toggle="tab">JavaScript</a>
                </li>
            </ul>
            <div class="tab-content code-sample">
                <div class="tab-pane active django" id="django">
                    <pre class="prettyprint linenums lang-js">
&#123;% resulttable id="example-table" managerid="example-search" pageSize="5" %&#125;</pre>
                </div>
                <div class="tab-pane" id="js">
                    <pre class="prettyprint linenums lang-js">
var ResultTableView = require("splunkjs/mvc/tableview");
new ResultTableView({
    id: "example-resulttable",
    managerid: "example-search",
    el: $("#divToHangOn")
}).render();</pre>
                </div>
            </div>


    <h3>Options</h3>
    <p>You can set the following properties using templates tags or JavaScript:</p>
    <ul>
        <p><code>managerid</code>: The search manager for the table.</p>

        <p><code>data</code>: The name of the results model to use.</p>

        <p><code>pageSize</code>: The number of results per page.</p>

        <p><code>fields</code>: The fields to include in the table. In JavaScript this takes a list of strings. In Django it is a space-separated list.</p>
    </ul>

<ul class="nav nav-tabs">
                <li class="active">
                    <a href="#django3" data-toggle="tab">Django</a>
                </li>
                <li>
                    <a href="#js3" data-toggle="tab">JavaScript</a>
                </li>
            </ul>
            <div class="tab-content code-sample">
                <div class="tab-pane active django" id="django3">
                    <pre class="prettyprint linenums lang-js">
&#123;% resulttable id="example-table" managerid="example-search" fields="_time splunkd" %&#125;</pre>
                </div>
                <div class="tab-pane" id="js3">
                    <pre class="prettyprint linenums lang-js">
var table= splunkjs.mvc.Components.getInstance("example-table");
table.settings.set("fields", ["_time", "splunkd"]);</pre>
                </div>
            </div>

    <h3>Events</h3>
    <p>The result table fires the following events:</p>
    <ul>
        <p><code>clicked:cell</code>: Fired when a cell is clicked.</p>
        <p><code>clicked:row</code>: Fired when a row is clicked.</p>
    </ul>

<!-- EVENT TABLE -->
    <div class="page-header"></div>

    <h2>Event table</h2>
    <p>The <b>EventsViewer</b> view is a fully-featured Splunk-style events viewer that supports pagination and variable formatting. Given a search manager, the <b>EventsViewer</b> displays the events corresponding to that search.</p>
    <p>Use the <code>&#123;% eventsviewer %&#125;</code> tag with the <code>managerid</code> property to specify the search manager.</p>

    <div class="bs-docs-example">
        {% eventsviewer id="example-eventsviewer" managerid="example-event-search"%}
    </div>

<ul class="nav nav-tabs">
                <li class="active">
                    <a href="#django2" data-toggle="tab">Django</a>
                </li>
                <li>
                    <a href="#js2" data-toggle="tab">JavaScript</a>
                </li>
            </ul>
            <div class="tab-content code-sample">
                <div class="tab-pane active django" id="django2">
                    <pre class="prettyprint linenums lang-js">
&#123;% block content %&#125;
    &#123;% eventsviewer id="example-eventsviewer" managerid="example-event-search"%&#125;
&#123;% endblock content %&#125;
&#123;% block managers %&#125; 
    &#123;% searchmanager id="example-event-search" search="index=_internal | head 3"%&#125; 
&#123;% endblock managers %&#125;</pre>
                </div>
                <div class="tab-pane" id="js2">
                    <pre class="prettyprint linenums lang-js">
var EventsViewerView = require("splunkjs/mvc/eventsviewerview");
new EventsViewerView({
    id: "example-eventsviewer",
    managerid: "example-search",
    el: $("#divToHangOn")
}).render();

var SearchManager = require("splunkjs/mvc/searchmanager");
new SearchManager({
    id: "example-search",
    search: "index=_internal | head 3" 
});</pre>
                </div>
            </div>
</div>
                </div>
            </div>
        </div>
    </div>


{% endblock content%}

{% block managers %}

    {% searchmanager id="example-search" search="index=_internal | head 100 | timechart count by sourcetype span=100s" preview=False cache=True %}

    {% searchmanager id="example-event-search" search="index=_internal | head 3" %}
    
{% endblock managers %}

{% block js %}

{{block.super}}

<script type="text/javascript">

require.config({
    shim: {
        "componentfx/prettify": {
            deps: [],
            exports: "prettyPrint"
        } 
    }
});

require(["componentfx/prettify", "bootstrap.tab"], function(prettyPrint) {
    //formats code samples
    prettyPrint();
});

    
</script>

{% endblock js %}
