{% extends "appfx:base_with_account_bar.html" %}

{% load splunkui %}
{% load url from future %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />

    <style>        
        .main-area {
            margin: 0px auto;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 10px;
            width: 300px;
        }
    </style>
{% endblock css %}

{% block content %}

    <div>
        <div class="main-area">
            <p>I'm the simulated Flurry app!</p>
            <p><a href="{% url 'setupfx:setup' %}">Edit Settings</a></p>
        </div>
    </div>

{% endblock content%}

{% block js %}    
    <!-- No JS yet -->
{% endblock js %}