{% extends "splunkdj:base_with_account_bar.html" %}

{% load splunkmvc %}

{% block title %}Setup{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkdj/setup.css" />
    <!-- For JQuery UI Date Picker -->
    <link rel="stylesheet" href="{{STATIC_URL}}setupfx/contrib/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" />
{% endblock css %}

{% block content %}
    <form class="splunkdj-setup-form" method="post" action="">
        {% csrf_token %}
        
        <h1>Welcome to the Flurry App</h1>
        <p>
            To start indexing Flurry event logs:
        </p>
        <ol>
            <li>Provide Flurry credentials below.</li>
            <li>For the "Extraction Position", enter the earliest date containing events you wish to download.</li>
            <li>Enable the Flurry scripted input below.</li>
        </ol>
        
        {{ form.as_p }}
        
        <input class="btn btn-primary" type="submit" value="Save" />
        {% if configured %}
            <a class="btn" href="{% url 'setupfx:home' %}">Cancel</a>
        {% endif %}
    </form>
{% endblock content%}

{% block js %}
    <!-- For JQuery UI Date Picker -->
    <script src="{{STATIC_URL}}setupfx/contrib/jquery-1.8.2.min.js"></script>
    <script src="{{STATIC_URL}}setupfx/contrib/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script>    
        $(function() {
            $('#id_extraction_date').datepicker({'dateFormat': 'yy-mm-dd'})
        });
    </script>
    
    <!-- For LeftRightSelectMultiple widget -->
    <!-- (JQuery already included) -->
    <script src="{{STATIC_URL}}setupfx/contrib/underscore-min.js"></script>
    <script src="{{STATIC_URL}}setupfx/widgets.js"></script>
{% endblock js %}