/* Copyright 2012 Splunk, Inc. */

.appfx-message-container {
    padding: 100px 40px;
}

.appfx-message {
    margin: 0px auto;
    border: 1px black solid;
    border: 1px solid #CCC;
    padding: 10px 10px 10px 30px;
    position: relative;
    line-height: 1.2;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.appfx-message i {
    font-size: 150%;
    position: absolute;
    top: 5px;
    left: 10px;
}

.appfx-message i.warning {
    color: #E03300
}

.appfx-message i.info {
    color: #569A23
}

