.appfx-resulttable {
    overflow-x: auto;
    clear: both;
}

.appfx-resulttable table {
    border-top: 1px solid #DDD;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
}

.appfx-resulttable td,
.appfx-resulttable th {
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
    vertical-align: middle;
    white-space: nowrap; 
}

.appfx-resulttable td.result-table-row-number {
    font-size: 11px;
    color: #888;
    font-weight: normal;
    text-align: right;
}

.appfx-resulttable th.result-table-header-row-number {
    width: 5%;
}

.appfx-resulttable th {
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e3e3e3));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e3e3e3 100%);
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e3e3e3 100%);
    background-image: -ms-linear-gradient(top, #f5f5f5 0%, #e3e3e3 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e3e3e3 100%);
    background-image: linear-gradient(top, #f5f5f5 0%, #e3e3e3 100%);
    border-top: 1px solid #f5f5f5;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    white-space: nowrap; 
}

.appfx-resulttable th.sorts {
    color: #333;
    padding-right: 10px;
    text-decoration: none;
    white-space: nowrap;
}

.appfx-resulttable th.sorts:after {
    color: #bbb;
    font-family: "Splunk Icons";
    line-height: inherit;
    content: "\2195";
    padding-left: 3px;
}

.appfx-resulttable th.sorted-asc:after {
    color: #333;
    content: "\21A7";
}

.appfx-resulttable th.sorted-desc:after {
  color: #333;
  content: "\21A7";
}
