/* Copyright 2012 Splunk, Inc. */

.appfx-single { 
    min-width: 150px;
    padding: 10px;
}

.appfx-single-content { 
    font-size: 14px;
    font-weight: bold;
}

.appfx-single .appfx-single-label { 
}

.appfx-single .appfx-single-result {
    font-size: 28px;
    margin: 0px 6px;
    vertical-align: -4px;
}

.appfx-single .appfx-single-content.severe .appfx-single-result {
    color: #ff1f24;
}

.appfx-single .appfx-single-content.high .appfx-single-result {
    color: #ff7e00;
}

.appfx-single .appfx-single-content.elevated .appfx-single-result {
    color: #ffb800;
}

.appfx-single .appfx-single-content.guarded .appfx-single-result {
    color: #4da6df;
}

.appfx-single .appfx-single-content.low .appfx-single-result {
    color: #00b932;
}

.appfx-single .appfx-single-content.None .appfx-single-result {
    color: #999;
}

