{% load url from future %}

{% load splunkmvc %}

<!DOCTYPE html>
<html>
	<head>
		<title>Splunk App Framework Quick Start</title>
		<!-- Bootstrap -->
		<link href="{{STATIC_URL}}quickstartfx/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}quickstartfx/css/style.css" rel="stylesheet" type="text/css" media="screen">
		<link href="{{STATIC_URL}}quickstartfx/css/prettify.css" rel="stylesheet" type="text/css" media="screen">
		<script type="text/javascript" src="{{STATIC_URL}}quickstartfx/js/prettify.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}splunk/contrib/jquery-1.8.2.min.js"></script>

		<script>
        	window.SPLUNKJS_STATIC_URL = "{{STATIC_URL}}";
    	</script>
		
	</head>
	<body onload="prettyPrint();">
		<div id="splunk-bar"></div>
		<div id="container">
			<div class="progress-buttons">
				<a href="{% url 'quickstartfx:steps' id=4 %}" class="btn btn-next btn-success">Next</a>
			</div>
			<h1>Splunk App Framework Quick Start</h1>
			
			
			<div class="row" id="content-container">
				<div class="span23" id="main">
						<h2>Create an app</h2>
						<p>Let's create an app. But first, we must set up the framework. We'll use the <b>appfx</b> command-line tool from the framework's home folder to perform this and other tasks.</p>
						<!-- <ul class="nav nav-tabs" id="main-tabs">
							<li class="active">
								<a href="#">Regular</a>
							</li>
							<li>
								<a href="#">splunkjs.Async</a>
							</li>
						</ul> -->
						<div class="well well-white" id="well-main">
							
															
							<h3>Set up the framework</h3>
							<p> To set up the framework, run <code>appfx setup</code> (in Windows) or <code>./appfx setup</code> (in Mac and *nix). You'll need to provide the path to your Splunk installation directory, too.</p>

							<h3>Create an app</h3>
							<p>
							To create an app, run the command <code>appfx createapp <i>app_name</i></code>. The framework sets up the basic directory structure and files for your app under the <b>$HOME/server/apps</b> directory. Your new app includes URL-routing logic, basic Django templates, views, and HTML templates.</p>
							<h3>Run apps</h3>
							<p>During development, run your apps from the development server that is included with the framework. Just start the framework server from the command line (<code>appfx run</code>), then browse to <i>http://localhost:3000/appfx</i>. All of your installed framework apps are listed. Click one to run it.</p>

							<h3>Other command-line options</h3>
							<p>Command-line tools for app management include <code>setup</code>, <code>run</code>, <code>test</code>, <code>clean</code>, <code>createapp</code>, <code>removeapp</code>, and <code>deploy</code>.</p>
					
				</div>
				<div class="span9 offset1" id="sidebar">
					<div class="well well-white">
						<ul class="nav nav-list ">
							<li class="nav-header">Quick Start</li>
							<li class="active"><a href="{% url 'quickstartfx:steps' id=3 %}">Create an app</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=4 %}">Add a search</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=5 %}">Add search results to table</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=6 %}">Map your results</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=7 %}">Add interactivity</a></li>
							<!-- <li><a href="{% url 'quickstartfx:steps' id=8 %}">Deploy your app</a></li> -->
							<li><a href="{% url 'quickstartfx:steps' id=9 %}">Next steps</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div style="clear: both;"></div>
		</div>
		<div class="progress-buttons">
				<a href="{% url 'quickstartfx:steps' id=4 %}" class="btn btn-next btn-success">Next</a>
			</div>
		<script src="{{STATIC_URL}}splunk/contrib/jquery-1.8.2.js"></script>
	    <script src="{{STATIC_URL}}splunk/splunk.js"></script>
	 
	    {% component_loader %}
	</body>
</html>
