{% load url from future %}

<!DOCTYPE html>
<html>
	<head>
		<title>Splunk App Framework Quick Start</title>
		<!-- Bootstrap -->
		<link href="{{STATIC_URL}}quickstartfx/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}quickstartfx/css/style.css" rel="stylesheet" type="text/css" media="screen">
		<link href="{{STATIC_URL}}quickstartfx/css/prettify.css" rel="stylesheet" type="text/css" media="screen">
		<script type="text/javascript" src="{{STATIC_URL}}quickstartfx/js/prettify.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}splunk/contrib/jquery-1.8.2.min.js"></script>

		<script>
        	window.SPLUNKJS_STATIC_URL = "{{STATIC_URL}}";
    	</script>
    	<style type="text/css">
    		.subsectiontext{
    			height: 250px;
    		}
    	</style>
	</head>
	<body onload="prettyPrint();">
		<div id="splunk-bar"></div>
		<div id="container">
			<div class="progress-buttons" id="top-progress-buttons">
				<a href="{% url 'quickstartfx:steps' id=3 %}" class="btn">Back</a>
				<a href="{% url 'quickstartfx:steps' id='4a' %}" class="btn btn-next btn-success">Next</a>
			</div>
			<h1>Splunk App Framework Quick Start</h1>
			
			
			<div class="row" id="content-container">
				<div class="span23" id="main">
						<h2>Add a search</h2>
						<p>Search is a core feature of the Splunk App Framework. All of the framework UI controls can be bound to a search in various ways. Some controls are populated by searches, some modify the searches they are bound to, and some do both.</p>
						<p>Each search is represented by a <i>search context</i>, which manages the query, properties, operation, and lifetime of an individual search job. You can create search contexts using Django template tags or JavaScript. Search contexts can correspond to a saved search, or a search job you create on the fly in code or dynamically with UI controls.</p>
						<!-- <ul class="nav nav-tabs" id="main-tabs">
							<li class="active">
								<a href="#">Regular</a>
							</li>
							<li>
								<a href="#">splunkjs.Async</a>
							</li>
						</ul> -->
						<div class="well well-white" id="well-main">
							
								
							
							<h3>Creating a search context</h3>
							<p>A search context can be input dynamically using a <b>SearchBar</b> control or hardcoded into a framework app.</p>
							<div  >
								<div class="column" >
									<div class="subsectiontext">
									<h3>Add a search bar</h3>
									<p>Continue here to find out how to add a <b>SearchBar</b> control to your app, allowing users of your app to dynamically search.
									</div>
									<a href="{% url 'quickstartfx:steps' id='4a' %}" class="btn btn-primary btn-continue">Continue</a>
								</div>
								<div class="column" >
									<div class="subsectiontext">
									<h3>Add a search context</h3>
									<p>Continue here to learn how to add hard-coded searches to your app.</p>
									</div>
									<a href="{% url 'quickstartfx:steps' id='4b' %}" class="btn btn-primary btn-continue">Continue</a>
								</div>
							</div>
							<div style="clear:both"></div>
						</div>
					
				</div>
				<div class="span9 offset1" id="sidebar">
					<div class="well well-white">
						<ul class="nav nav-list ">
							<li class="nav-header">Quick Start</li>
							<li><a href="{% url 'quickstartfx:steps' id=3 %}">Create an app</a></li>
							<li class="active"><a href="4.html">Add a search</a>
								<ul>
									<li><a href="{% url 'quickstartfx:steps' id='4a' %}">Add a search bar</a></li>
									<li><a href="{% url 'quickstartfx:steps' id='4b' %}">Add a search context</a></li>
								</ul>
							</li>
							<li><a href="{% url 'quickstartfx:steps' id=5 %}">Add search results to table</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=6 %}">Map your results</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=7 %}">Add interactivity</a></li>
							<!-- <li><a href="{% url 'quickstartfx:steps' id=8 %}">Deploy your app</a></li> -->
							<li><a href="{% url 'quickstartfx:steps' id=9 %}">Next steps</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="progress-buttons">
				<a href="{% url 'quickstartfx:steps' id=3 %}" class="btn">Back</a>
				<a href="{% url 'quickstartfx:steps' id='4a' %}" class="btn btn-next btn-success">Next</a>
			</div>
			<div style="clear: both;"></div>
		</div>
		
	</body>
</html>