{% load url from future %}

{% load splunkui %}

<!DOCTYPE html>
<html>
	<head>
		<title>Splunk App Framework Quick Start</title>
		<!-- Bootstrap -->
		<link href="{{STATIC_URL}}quickstartfx/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}quickstartfx/css/style.css" rel="stylesheet" type="text/css" media="screen">
		<link href="{{STATIC_URL}}quickstartfx/css/prettify.css" rel="stylesheet" type="text/css" media="screen">
		<script type="text/javascript" src="{{STATIC_URL}}quickstartfx/js/prettify.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}appfx/contrib/jquery-1.8.2.min.js"></script>

		<script>
        	window.APPFX_STATIC_URL = "{{STATIC_URL}}";
    	</script>
	</head>
	<body onload="prettyPrint();">
		<div id="splunk-bar"></div>
		<div id="container">
			<div class="progress-buttons" id="top-progress-buttons">
				<a href="{% url 'quickstartfx:steps' id=4 %}" class="btn">Back</a>
				<a href="{% url 'quickstartfx:steps' id=5 %}" class="btn btn-next btn-success">Next</a>
			</div>
			<h1>Splunk App Framework Quick Start</h1>
			
			
			<div class="row" id="content-container">
				<div class="span23" id="main">
						<h2>Add a search</h2>
						<p>You can include a hard-coded search or any saved search from your Splunk instance to your app.</p>
						<!-- <ul class="nav nav-tabs" id="main-tabs">
							<li class="active">
								<a href="#">Regular</a>
							</li>
							<li>
								<a href="#">splunkjs.Async</a>
							</li>
						</ul> -->
						<div class="well well-white splunk" id="well-main">
							
							
							<h3>Adding a search context</h3>
							<p>Search contexts can be embedded in your framework app. Searches are run against your Splunk instance. The data that is returned is available to any control that is bound to the search context. To include an embedded search context with a static search query, create a <b>SearchContext</b> with a query defined in the <code>"search"</code> property:</p>

<pre class="prettyprint linenums pre-scrollable">
&#123;% search id="example-search" search="search index=_internal | stats count" %&#125; 
</pre>
							<p>Other parameters such as <code>"earliest_time"</code>, <code>"latest_time"</code>, etc. can also be set through properties.</p>


							<h3>Adding a saved search context</h3>
							<p>To add a saved search, create a <b>SavedSearchContext</b>. You'll need to provide the name of the saved search in the <code>searchname</code> property. To bind controls to this context, provide the ID of this <b>SavedSearchContext</b> context in the <code>"contextid"</code> property of the control.</p>

<pre class="prettyprint linenums pre-scrollable">
&#123;% savedsearchcontext id="saved-search" searchname="example-saved-search" %&#125;
</pre>
							
							<p class="learn-more"><a href="{% url 'quickstartfx:steps' id='4a' %}">Learn about the SearchBar control<img src="{{STATIC_URL}}quickstartfx/img/link-arrow.png" /></a></p>
						</div>
					
				</div>
				<div class="span9 offset1" id="sidebar">
					<div class="well well-white">
						<ul class="nav nav-list ">
							<li class="nav-header">Quick Start</li>
							<li><a href="{% url 'quickstartfx:steps' id=3 %}">Create an app</a></li>
							<li class="active"><a href="{% url 'quickstartfx:steps' id=4 %}">Add a search</a>
								<ul>
									<li><a href="{% url 'quickstartfx:steps' id='4a' %}">Add a search bar</a></li>
									<li class="active"><a href="{% url 'quickstartfx:steps' id='4b' %}">Add a search context</a></li>
								</ul>
							</li>
							<li><a href="{% url 'quickstartfx:steps' id=5 %}">Add search results to table</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=6 %}">Map your results</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=7 %}">Add interactivity</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=8 %}">Deploy your app</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=9 %}">Next steps</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="progress-buttons">
				<a href="{% url 'quickstartfx:steps' id=4 %}" class="btn">Back</a>
				<a href="{% url 'quickstartfx:steps' id=5 %}" class="btn btn-next btn-success">Next</a>
			</div>
			<div style="clear: both;"></div>
		</div>
		<script src="{{STATIC_URL}}appfx/contrib/jquery-1.8.2.js"></script>
	    <script src="{{STATIC_URL}}appfx/splunk/splunk.js"></script>
	    <script src="{{STATIC_URL}}appfx/contrib/require.js"></script>
	    <script src="{{STATIC_URL}}appfx/splunk/mvc/mvc.config.js"></script>
	    {% component_loader %}
		
	</body>
</html>