{% load url from future %}

<!DOCTYPE html>
<html>
	<head>
		<title>Splunk App Framework Quick Start</title>
		<!-- Bootstrap -->
		<link href="{{STATIC_URL}}quickstartfx/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}quickstartfx/css/style.css" rel="stylesheet" type="text/css" media="screen">
		<link href="{{STATIC_URL}}quickstartfx/css/prettify.css" rel="stylesheet" type="text/css" media="screen">
		<script type="text/javascript" src="{{STATIC_URL}}quickstartfx/js/prettify.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}appfx/contrib/jquery-1.8.2.min.js"></script>

		<script>
        	window.APPFX_STATIC_URL = "{{STATIC_URL}}";
    	</script>
	</head>
	<body onload="prettyPrint();">
		<div id="splunk-bar"></div>
		<div id="container">
			<div class="progress-buttons">
				<a href="{% url 'quickstartfx:steps' id=7 %}" class="btn">Back</a>
				<a href="{% url 'quickstartfx:steps' id=9 %}" class="btn btn-next btn-success">Next</a>
			</div>
			<h1>Splunk App Framework Quick Start</h1>
			
			
			<div class="row" id="content-container">
				<div class="span23" id="main">
						<h2>Deploy your app</h2>
						<p>You can use a deployment server to push out content and configurations (collectively called deployment apps) to deployment clients, grouped into server classes.</p>
						<ul class="nav nav-tabs" id="main-tabs">
							<li class="active">
								<a href="#">Regular</a>
							</li>
							<li>
								<a href="#">splunkjs.Async</a>
							</li>
						</ul>
						<div class="well well-white" id="well-main">
							
								
							
							<h3>Descriptive Header Title Here</h3>
							<p>This diagram provides a conceptual overview of the relationship between a deployment server and its set of deployment clients and server classes: </p>
							<img src="{{STATIC_URL}}quickstartfx/img/placeholders/630x330.gif" class="sample-image" />
							<p>In this example, each deployment client is a forwarder that belongs to two server classes, one for its OS and the other for its geographical location. The deployment server maintains the list of server classes and uses those server classes to determine what content to push to each client. For an example of how to implement this type of arrangement to govern the flow of content to clients, see "<a href="#">Deploy several forwarders</a>". </p>
						</div>
					
				</div>
				<div class="span9 offset1" id="sidebar">
					<div class="well well-white">
						<ul class="nav nav-list ">
							<li class="nav-header">Quick Start</li>
							<li><a href="{% url 'quickstartfx:steps' id=3 %}">Create an app</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=4 %}">Add a search</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=5 %}">Add search results to table</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=6 %}">Map your results</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=7 %}">Add interactivity</a></li>
							<li class="active"><a href="{% url 'quickstartfx:steps' id=8 %}">Deploy your app</a></li>
							<li><a href="{% url 'quickstartfx:steps' id=9 %}">Next steps</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="progress-buttons">
				<a href="{% url 'quickstartfx:steps' id=7 %}" class="btn">Back</a>
				<a href="{% url 'quickstartfx:steps' id=9 %}" class="btn btn-next btn-success">Next</a>
			</div>
			<div style="clear: both;"></div>
		</div>
		
	</body>
</html>