.container {
    margin-top: 30px;
}

.panel {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
    overflow: hidden;
    margin: 0 0 20px 0;
}
.panel-head {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.panel-body {
    clear: both;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}