<!DOCTYPE html>
{% load splunkmvc %}
<html>
<head>
  <meta charset="utf-8">
  <title>view tests</title>
  <link rel="stylesheet" href="{{STATIC_URL}}testfx/mocha.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/bootstrap.css"/>
  <style>
    #mocha li {
      clear: both;
    }
    
    .span5 {
      width: 50%;
      display: inline-block;
    }
    
    .span4, .span7 {
      width: 45%;
      display: inline-block;
      position: relative;
    }
    .chart-wrapper {
      height: 200px;
    }
    .googlemap-wrapper{
      height: 200px;
    }
  </style>
    
  </style>
</head>
<body>  
  {% component_loader %}
  <script src="{{STATIC_URL}}testfx/mocha.js"></script>
  <div id="content">
    <div class="row">
      <div class="span4">
      <h3>All Views</h3>
      </div>
    </div>
    <div class="row">
      <div class="span7">
        <div id="hook" class="splunk"></div>
      </div>
      <div class="span5" >
        <div id="mocha"></div>
        
      </div>
    </div>
  </div>
  <script>  
      require(["splunkjs/ready!"], function() {
        mocha.add = function(suite) {
          mocha.suite.emit('require', suite);
        };

        var _ = require('underscore');
        mocha.setup({ui: 'exports',ignoreLeaks: true});

        require(
          [
            "testfx/tests/charts", 
            "testfx/tests/googlemap", 
            "testfx/tests/resulttable", 
            "testfx/tests/searchbar", 
            "testfx/tests/single", 
            "testfx/tests/forms", 
            "testfx/tests/timeline", 
            "testfx/tests/timepicker"
          ], 
          function() {
            _.each(arguments, function(suite) {
              mocha.add(suite);
            });
          
            var runner = mocha.run(function() {
              console.log(JSON.stringify(runner.stats));
            });
          }
        );
    });
  </script>
</body>
</html>
