{% load url from future %}

<html>
<head>
  <meta charset="utf-8">
  <title>Application Framework Control Tests</title>
  <link rel="stylesheet" href="{{STATIC_URL}}testfx/mocha.css" />
</head>
<body>
  <script>window.APPFX_STATIC_URL = "{{STATIC_URL}}";</script>
  
  <script src="{{STATIC_URL}}appfx/contrib/jquery-1.8.2.min.js"></script>
  <script src="{{STATIC_URL}}testfx/mocha.js"></script>
  <script src="{{STATIC_URL}}appfx/splunkjs/splunk.js"></script>
  <script src="{{STATIC_URL}}appfx/contrib/require.js"></script>
  <script src="{{STATIC_URL}}appfx/splunkui/appfx.bootstrap.js"></script>
  
  <div id="content">
    <h3>Control test pages</h3>
    <ul>
      <p><a href="{% url 'testfx:controls' id='resulttable' %}">resulttable</a></p>
      <p><a href="{% url 'testfx:controls' id='single' %}">single</a></p>
      <p><a href="{% url 'testfx:controls' id='searchbar' %}">searchbar</a></p>
      <p><a href="{% url 'testfx:controls' id='timepicker' %}">timepicker</a></p>
      <p><a href="{% url 'testfx:controls' id='timeline' %}">timeline</a></p>
      <p><a href="{% url 'testfx:controls' id='eventtable' %}">eventtable</a></p>
      <p><a href="{% url 'testfx:controls' id='forms' %}">forms</a></p>
      <p><a href="{% url 'testfx:controls' id='charts' %}">charts</a></p>
      <p><a href="{% url 'testfx:controls' id='googlemap' %}">googlemap</a></p>
      <p><a href="{% url 'testfx:controls' id='d3chart' %}">d3chart</a></p>
    </ul>
  </div>
  <script>  
    var deps = [];
    AppFx.load(deps,function(AppFx) {
        var _ = require('underscore');

   
    });
  </script>
</body>
</html>
