<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Application Framework Control Tests</title>
  <link rel="stylesheet" href="{{STATIC_URL}}testfx/mocha.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/bootstrap.css" />
</head>
</head>
<body>
  <script>window.SPLUNKJS_STATIC_URL = "{{STATIC_URL}}";</script>
  
  <div id="content">
    <h2>Framework Tests</h2>
    
    <h3>Client-Side Tests</h3>
    <ul>
      <li><a href="{% url 'testfx:contexts' %}">Automated Tests</a></li>
      <li><a href="{% url 'testfx:controls' id='allviews' %}">Control Tests</a></li>
      <ul>
        <li><a href="{% url 'testfx:controls' id='resulttable' %}">ResultTable</a></li>
        <li><a href="{% url 'testfx:controls' id='single' %}">Single</a></li>
        <li><a href="{% url 'testfx:controls' id='searchbar' %}">SearchBar</a></li>
        <li><a href="{% url 'testfx:controls' id='timepicker' %}">Timepicker</a></li>
        <li><a href="{% url 'testfx:controls' id='timeline' %}">Timeline</a></li>
        <li><a href="{% url 'testfx:controls' id='eventtable' %}">EventTable</a></li>
        <li><a href="{% url 'testfx:controls' id='forms' %}">Forms</a></li>
        <li><a href="{% url 'testfx:controls' id='charts' %}">Charts</a></li>
        <li><a href="{% url 'testfx:controls' id='googlemap' %}">Google Map</a></li>
        <!--<li><a href="{% url 'testfx:controls' id='d3chart' %}">D3Chart</a></li>-->
      </ul>
    </ul>
    
    <h3>Server-Side Tests</h3>
    <ul>
      <li><code>splunkdj test --user=admin --password=changeme testfx</code></li>
    </ul>
  </div>
  <script>  
    
  </script>
</body>
</html>
