<!DOCTYPE html>
{% load splunkmvc %}

<html>
<head>
  <meta charset="utf-8">
  <title>resulttable test</title>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/bootstrap.css"/>
  <link rel="stylesheet" href="{{STATIC_URL}}testfx/mocha.css" />
  <style>
    #mocha li {
      clear: both;
    }
    
    .span5 {
      width: 50%;
      display: inline-block;
    }
    
    .span7 {
      width: 45%;
      display: inline-block;
      position: relative;
    }
  </style>
</head>
<body>  
  {% component_loader %}
  <script src="{{STATIC_URL}}testfx/mocha.js"></script>
  
  <div id="content">
    <div class="row">
      <div class="span4">
      <h3>resulttable</h3>
      <p>Should be a resulttable control</p>
      </div>
      <a class="btn btn-primary span1 offset2" href="{% url 'testfx:next' id='resulttable' %}">Next</a>
    </div>
    <div class="row">
      <div class="span5">
        <div id="hook" class="splunk"></div>
      </div>
      <div class="span7">
        <div id="mocha"></div>     
      </div>
    </div>
  </div>
  <script>  
      require(["splunkjs/ready!"], function() {
          
        mocha.globals(['djdt']);
        mocha.add = function(suite) {
          mocha.suite.emit('require', suite);
        };

        var _ = require('underscore');
        mocha.setup('exports');

        require(
          [
            "testfx/tests/resulttable", 
          ], 
          function() {
            _.each(arguments, function(suite) {
              mocha.add(suite);
            });
          
            mocha.run();
          }
        );
    });
  </script>
</body>
</html>
