{% extends "splunkdj:base_with_account_bar.html" %}

{% load splunkmvc %}

{% block title %}Setup{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkdj/setup.css" />
    
    <!-- Insert custom CSS here -->
{% endblock css %}

{% block content %}
    <form class="splunkdj-setup-form" method="post" action="">
        {% csrf_token %}
        <p>
            This page is used by the server-side tests for the Setup View feature. 
        </p>
        
        {{ form.as_p }}
        
        <input class="btn btn-primary" type="submit" value="Save" />
        {% if configured %}
            <a class="btn" href="{% url 'testfx:home' %}">Cancel</a>
        {% endif %}
    </form>
{% endblock content %}

{% block js %}
    <!-- Insert custom JS here -->
{% endblock js %}