<html>
<head>
  <meta charset="utf-8">
  <title>Application Framework Tests</title>
  <link rel="stylesheet" href="{{STATIC_URL}}testfx/mocha.css" />
</head>
<body>
  <div id="mocha"></div>
  <script>window.SPLUNKJS_STATIC_URL = "{{STATIC_URL}}";</script>
  
  <script src="{{STATIC_URL}}splunk/contrib/jquery-1.8.2.min.js"></script>
  <script src="{{STATIC_URL}}testfx/mocha.js"></script>
  <script src="{{STATIC_URL}}splunk/splunk.js"></script>
  <script src="{{STATIC_URL}}splunk/contrib/require.js"></script>
  <script src="{{STATIC_URL}}splunk/mvc/mvc.config.js"></script>
  <script>  
    splunkjs.mvc.load([], function() {
      var _ = require('underscore');
      mocha.setup('exports');
      
      mocha.add = function(suite) {
        mocha.suite.emit('require', suite);
      };
      
      mocha.globals(['djdt']);
      
      require(
        // Low-level tests ordered before higher level tests so that
        // earlier failures are more likely to be the underlying failure.
        [
          "testfx/tests/registry",  // precedes components (controls & contexts)
          "testfx/tests/appfx",
          "testfx/tests/contexts",
          "testfx/tests/contexts2",
          "testfx/tests/contexts3"
        ], 
        function() {
          _.each(arguments, function(suite) {
            mocha.add(suite);
          });
          
          mocha.run();
        }
      );
    });
  </script>
</body>
</html>
